[2015-01-04 16:37] jamesmontemagno opened #1 "Tweet entry?"
Wondering if you tweeted this out for your entry into the contest? I couldn't find it. Let me know.

[2015-01-04 17:32] paulpatarinski commented on #1
Hey James. I have not. I have been meaning to reach out to you to see if you can help me solve an issue before I tweet about it. For some reason I am getting an exception when using the plugin via nuget. But it works fine if I directly reference the assemblies.

[2015-01-04 17:47] paulpatarinski commented on #1
More specifically when you launch the app the app flashes and then terminates. The output windows :

01-04 11:45:04.618 D/Mono    ( 1329): Assembly Loader probing location: 'Svg.Forms.Plugin.Abstractions'.
01-04 11:45:04.618 F/monodroid-assembly( 1329): Could not load assembly 'Svg.Forms.Plugin.Abstractions' during startup registration.
01-04 11:45:04.618 F/monodroid-assembly( 1329): This might be

[2015-01-04 20:34] jamesmontemagno commented on #1
Have you full uninstalled and re-installed the test app from the Apps on in settings on the phone?

I assume that it is in there and you are calling Init()?

When you install the NuGet have you made sure that everythign you are expecting is in the packages folder?

[2015-01-04 22:03] paulpatarinski commented on #1
Is everything set to build in release?

Have you full uninstalled and re-installed the test app from the Apps on in settings on the phone?

I assume that it is in there and you are calling Init()?

When you install the NuGet have you made sure that everythign you are expecting is in the packages folder?

If you clone the repo I have a sample app added that demonstrates the issue.

https://github.c

[2015-01-05 01:15] jamesmontemagno commented on #1
I will try this in the morning to see what is going on... Odd.

James

On Sun, Jan 4, 2015 at 5:03 PM, Paul P <notifications@github.com> wrote:

--
James Montemagno
http://www.montemagno.com
@jamesmontemagno <http://www.twitter.com/jamesmontemagno>

[2015-01-05 15:46] jamesmontemagno commented on #1
I figured it out...

So your DLLS are called SVG.*  however you are renaming them in your NuSpec to Svg.*

Keep them all as SVG.* and it will work correclty.

[2015-01-06 03:44] paulpatarinski commented on #1
That was it thanks a lot. It is all working now. Would you by any chance be interested in helping me with the iOS version? I don't have an iOS license or a Mac.

[2015-01-06 21:06] jamesmontemagno opened #2 "Information Needed For Swag Bag"
I first want to personally thank you for creating a Plugin for Xamarin for our holiday contest. To get your exclusive Xamarin Swag Bag out to you I just need a bit more information from you. If you can email: plugins@xamarin.com with the following information we will get the bag out to you.

Name
Street Address
City, State, Zip Code
Country
Phone Number
The URL to this repo

Thank you again and I

[2015-01-18 22:47] #1 closed

[2015-01-18 22:49] jamesmontemagno opened #3 "Update NuGet with Unified iOS support"
Hey there! With 1.3.1 now on stable with Unified support it would be great if you could update the plugin with this support. I created a short How To video on how to do this: https://www.youtube.com/watch?v=nF8DbL-PVKw

[2015-01-19 02:25] #2 closed

[2015-01-19 02:26] paulpatarinski commented on #3
Hey James,

Should I do this even if I don't have an iOS implementation?

Cheers

[2015-01-19 02:31] jamesmontemagno commented on #3
Would still be a good idea to do it so the package will at least install. Is there any reason for not having the iOS implementations? Limitations?

[2015-01-19 02:58] paulpatarinski commented on #3
Don't have a Mac. I was hoping someone would help out with the iOS implementation (posted on the forum), but no volunteers.

[2015-01-19 03:55] jamesmontemagno commented on #3
Gotcha gotcha... hmmm I will try to do it this week :)

On Sun, Jan 18, 2015 at 6:58 PM, Paul P <notifications@github.com> wrote:

--
James Montemagno
http://www.montemagno.com
@jamesmontemagno <http://www.twitter.com/jamesmontemagno>

[2015-01-26 22:12] paulpatarinski commented on #3
Hey James,
Any luck getting iOS working? Also would like to get your opinion on the ExtendedMap plugin (I am missing iOS implementation for that as well)

[2015-02-06 20:37] onovotny opened #4 "Assembly with Xaml?"
Can the SvgImage be used in XAML? What'd be the syntax to set the Assembly property?

[2015-02-07 16:45] paulpatarinski commented on #4
@onovotny I made both the Assembly and Path properties bindable and added a sample xaml usage to the Project page. https://github.com/paulpatarinski/Xamarin.Forms.Plugins/tree/master/SVG

<abstractions:SvgImage Grid.Row="0" Grid.Column="0" SvgAssembly="{Binding SvgAssembly}" SvgPath="{Binding CoolMaskSvgPath}" HeightRequest="50" WidthRequest="50" BackgroundColor="White" HorizontalOptions="Center"

[2015-02-14 05:57] paulpatarinski commented on #4
@onovotny did the xaml solution work for you?

[2015-02-16 04:54] #4 closed

[2015-02-16 04:55] paulpatarinski opened #5 "Fix the way the drive icon displays on both Android/Win Phone"
Use RelativeLayout

[2015-02-16 04:56] paulpatarinski opened #6 "Fix the WinPhone implementation for the map"
Currently always centered on Chicago

[2015-02-16 04:57] paulpatarinski opened #7 "Look for a way to support image pins on Win Phone"

[2015-02-16 05:09] paulpatarinski opened #8 "Fix the message when sharing using the Map"

[2015-02-17 15:38] paulpatarinski opened #9 "Add selection color of the TwoColumnCell"

[2015-02-21 08:09] philipag opened #10 "SvgImageRenderer multiple instances created for same svg"
Hi.

I declare an svgimage in XAML and use it as a static resource

<ContentPage.Resources
<ResourceDictionary
<abstractions:SvgImage BindingContext="{x:Reference mainPage}" x:Key="ArrowStraight" SvgAssembly="{Binding SvgAssembly}" SvgPath="TDSP.svg.bubble.svg" ...
....
<ContentView WidthRequest="30" Padding="0,0,0,0" Content="{StaticResource ArrowStraight}" ...

The problem is that each Content="

[2015-02-21 15:18] #3 closed

[2015-02-21 15:21] paulpatarinski opened #11 "Add Thickness support for the TwoColumnCell for iOS"

[2015-02-21 15:23] paulpatarinski opened #12 "Fix the Single Row implementation for iOS"
Currently the implementation creates a UITableViewCell that leaves spacing on top and bottom of the UILabel

[2015-02-21 15:24] paulpatarinski opened #13 "Add Map Control support for iOS"

[2015-02-21 15:24] paulpatarinski opened #14 "Add ExtendedListview support for Android"

[2015-02-21 15:25] paulpatarinski opened #15 "Add ExtendedListview support for iOS"

[2015-02-21 15:28] paulpatarinski commented on #10
Hi Philip,

I will try to take a look at this later today. I have never used the SvgImage as part of a ResourceDictionary, so I don't have any ideas off the top of my head.

Cheers
Paul

[2015-02-21 18:43] philipag commented on #10
Hi Paul.

    Thanks for the quick reply.  I also posted at
    https://forums.xamarin.com/discussion/comment/105245#Comment_105245
    since this looks to be a Xamarin issue.  If you can post there as
    well with your findings this would be great.  If you can confirm
    what I found I can file a bug report.   If the Xamarin issue cannot
    be resolved perhaps a modification to your code which

[2015-02-22 18:00] paulpatarinski commented on #10
Hey Philip,

I had a chance to take a look at this. I don't think the problem is necessarily with an extra renderer being created (I tried making the collection static), but rather something with the Image implementation in Forms. No exceptions are thrown and the logic executes, but only a single image/svg will get rendered. I have created a page demonstrating the issue exists with Images as well

[2015-02-23 00:06] paulpatarinski commented on #10
Bug Filed : https://bugzilla.xamarin.com/show_bug.cgi?id=27292

[2015-02-24 00:05] philipag commented on #10
Nice work!

    Paul P wrote:

      Hey Philip,
      I had a chance to take a look at this. I don't think the
        problem is necessarily with an extra renderer being created (I
        tried making the collection static), but rather something with
        the Image implementation in Forms. No exceptions are thrown and
        the logic executes, but only a single image/svg will get
        r

[2015-03-06 23:00] philipag opened #16 "Under Android SVG size uses pixels instead of device independent pixels"
It used to be that width and height were in DIP (like the rest of XF) but now the SVG specified width/height is used as the bitmap pixel size.  This causes the resultant image to be grainy.

To confirm with XF this should be changed back to DIP.

[2015-03-07 02:31] paulpatarinski commented on #16
Hey @philipag Great job spotting this.

I pushed in a fix it is in version 17.

https://www.nuget.org/packages/Xam.Plugins.Forms.Svg/1.0.0.17

The images should be back to crispy clean :)

Cheers
Paul

[2015-03-07 03:25] philipag commented on #16
Thanks!

On March 6, 2015 9:31:40 PM Paul P <notifications@github.com> wrote:

[2015-03-08 00:30] tate-u opened #17 "SVG for iOS isn't rendering"
Hi Paul, I've been trying to get iOS to render my svg's for a couple hours now and have no success. It works great for Android. Any suggestions?

- I've verified the embedded resource path is correct
- The control is rendering background color, width, height
- Android doesnt have any issues with the same code
- On droid/win we call SvgImageRenderer.Init() as detailed in the docs. But not doing thi

[2015-03-08 00:56] paulpatarinski commented on #17
@tate-u Sorry you went through all this trouble. The SvgImageRenderer.Init() is not there yet because there is not support for iOS yet. I am working on implementing iOS though. It is one of my highest priorities so I will keep this issue open for now and post progress here.

[2015-03-08 01:05] tate-u commented on #17
Ah...well that makes more sense now. I was thinking we didn't need to call Init in iOS for some reason.
No reason to be sorry, and thanks for dedicating time to create this control!

[2015-03-08 23:22] philipag opened #18 "SVG speed under Android is slow"
I did not test this on WP8 or IOS, but with Android, the image loading performance is pretty slow - much slower than just using images.

I am wondering if there is a way to improve this?

[2015-03-09 00:53] #16 closed

[2015-03-09 00:54] paulpatarinski commented on #13
Added a map control for iOS

[2015-03-09 00:54] #13 closed

[2015-03-09 00:55] paulpatarinski opened #19 "Add SVGs to the iOS Map"
This needs to happen after SVG support for iOS is added

[2015-03-09 00:55] paulpatarinski opened #20 "Add support for phone service to iOS map"

[2015-03-09 00:55] paulpatarinski opened #21 "Add support for map navigation to iOS map"

[2015-03-09 00:56] paulpatarinski opened #22 "Add support for openning url to iOS map"

[2015-03-09 00:57] #11 closed

[2015-03-09 00:57] paulpatarinski opened #23 "Add Top/Bototm Thickness support for the TwoColumnCell for iOS"

[2015-03-09 05:05] #20 closed

[2015-03-09 05:05] #21 closed

[2015-03-09 05:05] #22 closed

[2015-03-09 05:06] #8 closed

[2015-03-09 05:08] paulpatarinski opened #24 "Add a better default pin for the iOS map"

[2015-03-09 05:08] paulpatarinski opened #25 "Add support for the camera transition for the iOS map"

[2015-03-14 14:57] Emasoft opened #26 "SVG.Forms.Plugin.Android doesn't work on standard SVG files"
SVG.Forms.Plugin.Android doesn't display my svg assets. It just crashes everytime. I've made those with Inkscape, and saved as "plain svg".

You can download an .svg test file of my buttons from here: http://goo.gl/m7TbmM

This is a preview of some of my SVG buttons:

![](https://cloud.githubusercontent.com/assets/713559/5924670/d56b48a0-a65d-11e4-95b4-7377a6b7eda9.png)

[2015-03-23 14:06] Emasoft commented on #26
Any update on this? And what about the iOS version? Does it support svg?

[2015-03-23 14:20] paulpatarinski commented on #26
Hey @Emasoft, sorry been meaning to write up a response.

As far as getting your svgs working : they contain some shapes that are not supported by XamSvg (the library I am using for Android). I am working on adding much better support for SVGs for both iOS and Android but in the meantime I recommend you open the source of your svg and try to simplify it as much as possible starting with just a sin

[2015-03-23 14:33] paulpatarinski commented on #17
Quick update on this. There are several approaches to implement svgs on iOS :

- Create iOS bindings for something like https://github.com/SVGKit/SVGKit
- Implement from scratch
- Port an existing .Net SVG library to iOS
- Improve an existing cross platform SVG library like : https://github.com/praeclarum/NGraphics to add support for more shapes.

I have decided to take the 4th approach by forking

[2015-03-23 14:40] Emasoft commented on #26
@paulpatarinski Thank you for your answer. Unfortunately I have a lots of svg assets, and fixing manually all of them is something that would take too much time and I'm already behind schedule for my projects. Also it would be useless, because I (and the artists I work with) will always make many last minute changes to the graphic assets in Inkscape, so we need to be able to just quickly load-modi

[2015-03-23 14:57] paulpatarinski commented on #26
What you are saying makes total sense. I am a big fan of SVGs and was very disappointed at last Evolve when the Forms team told me that they don't have plans on adding support, since NO ONE HAS ASKED FOR IT, so I took it upon myself to add support. It is not super difficult, but it is pretty tedious and requires a lot of research (finding existing libraries and trying to port them) and it's not my

[2015-03-23 19:05] Emasoft commented on #26
@paulpatarinski I really appreciate what you are doing. I really cannot understand how the Xamarin developers could have forgotten to support this important graphic format in Xamarin.Forms.

[2015-03-28 22:29] tate-u commented on #17
Looking forward to it!

[2015-04-13 14:32] paulpatarinski commented on #17
Update : Got iOS working last night. Need to put some finishing touches. I will be releasing an Alpha some time this week.

[2015-04-19 02:43] paulpatarinski commented on #26
@Emasoft wanted to give you a quick update. Got a little further on rendering the buttons

![image](https://cloud.githubusercontent.com/assets/7964134/7217944/d99c3772-e613-11e4-879e-b354f19d4054.png)

As you can see the shapes look correct now it is a matter of getting the Text to be properly formatted and the gradients to work. Will keep you posted

[2015-04-20 05:40] paulpatarinski commented on #17
@tate-u http://www.nuget.org/packages/Xam.Plugins.Forms.Svg/
v >= 1.0.0.18 adds iOS Svg support.
There is some known missing functionality (support for gradients, animations...), but for the most part most basic svgs should render properly. Let me know if you are having issues.

[2015-04-20 05:40] #17 closed

[2015-04-20 05:44] paulpatarinski opened #27 "(SVG) Gradients are not properly rendered"
This will need to be fixed in NGraphics

[2015-04-29 18:05] JoshuaNovak919 opened #28 "Unable to resolve SVG.Forms.Plugin.iOS"
I am trying to use the SVG plugin, but the class `SVG.Forms.Plugin.iOS` can't be resolved in the `AppDelegate.cs` file. Is there a different way other than what's done in the samples to get this to work in iOS? This is in a PCL project btw.

[2015-05-04 13:08] paulpatarinski commented on #28
Hey @JoshuaNovak919  sorry for the late response.

This was an issue with the nuspec. It is fixed in 1.0.0.20

https://www.nuget.org/packages/Xam.Plugins.Forms.Svg/

Let me know if you are still seeing the issue.

Paul

[2015-05-04 17:25] JoshuaNovak919 commented on #28
I'm trying to test it, but I keep having an issue with Xamarin Studio not being able to restore the nuget. It looks like it's an issue with the name. Some parts of the package reference 'SVG' and some parts use 'Svg'. I'm thinking maybe that's why it's have trouble finding it to restore it.

[2015-05-05 04:24] JoshuaNovak919 commented on #28
I finally got the plugin to work. I ended up having two issue I had to fix.

**Issue 1:**
I had to change the name of the packages folder from `Xam.Plugins.Forms.Svg.1.0.0.20` to `Xam.Plugins.Forms.SVG.1.0.0.20` and the file `Xam.Plugins.Forms.Svg.1.0.0.20.nupkg` to `Xam.Plugins.Forms.SVG.1.0.0.20.nupkg` to get it to even load properly. You should push an update that fixes this letter case issue.

[2015-05-06 21:48] JoshuaNovak919 commented on #28
@paulpatarinski I am going to mark this bug as resolved since the particular issue mentioned is resolved, but i'll open two more issues for the new problems i've found.

[2015-05-06 21:48] #28 closed

[2015-05-06 21:54] JoshuaNovak919 opened #29 "Package cannot be resolved due to case sensitivity issue"
The plugin has a name case sensitivity issue which is causing the package to say it cannot be resolved. It is because it is looking for a folder named `Xam.Plugins.Forms.SVG.1.0.0.20`, but the folder is actually named `Xam.Plugins.Forms.Svg.1.0.0.20`. It is also looking for the file `Xam.Plugins.Forms.SVG.1.0.0.20.nupkg`, but the file is named `Xam.Plugins.Forms.Svg.1.0.0.20.nupkg`. If I go in an

[2015-05-06 21:58] JoshuaNovak919 opened #30 "SVGs not found"
To get the SVGs to work when they are in the `Images` folder like in your examples you need to right click on them and select `Build Action > EmbeddedResource` or they won't load properly and you will get an error that they can't be found. It would be good to add this to the docs so others know.

[2015-05-09 14:03] paulpatarinski commented on #30
Hey @JoshuaNovak919

It is mentioned under the docs under the you MUST section

https://github.com/paulpatarinski/Xamarin.Forms.Plugins/tree/master/SVG

I will make it red so that is more noticable

[2015-05-09 14:03] #30 closed

[2015-05-11 00:20] JoshuaNovak919 opened #31 "Navigation.RemovePage on page with SVG causes error"
If you use `Navigation.RemovePage` on a page that is using an SVG it throws the error `Object reference not set to an instance of an object`. Anyone have any ideas how to fix this or if it is a package issue?

[2015-05-14 05:34] JoshuaNovak919 opened #32 "SVG: Could not load type from assembly"
I am using the SVG plugin along with NControl and for some reason now I am getting this error when I try to load an SVG:

`Could not load type 'NGraphics.Parsers.SvgReader' from assembly 'NGraphics, Version=1.0.5587.13975, Culture=neutral, PublicKeyToken=null'.`

Anyone have any ideas why?

[2015-05-22 11:32] Yenthe666 opened #33 "Extreme delay for Vector images to be shown"
Hi Paul,

First of all, thank you very much for this library and the time you've spent on this!
I do notice one problem though. I've added all your plugins for Android, iOS and Windows and set up the Init for every platform. I then created a new ViewModel named ViaXamlViewModel.cs which looks like this:
[code]
I've added a folder Images which contains the SVG file 'collegas.svg' with the following

[2015-05-22 11:42] Yenthe666 commented on #33
I think this is the same as your issue?
https://github.com/paulpatarinski/Xamarin.Forms.Plugins/issues/18

[2015-05-26 07:28] JoshuaNovak919 commented on #29
Any update on when this will be fixed?

[2015-05-26 08:04] Yenthe666 commented on #33
Little update: I've tested this on iOS and there seems to be a significant delay in loading the app when using the vector images too. It 'holds' the app for a few seconds.

[2015-05-31 19:09] paulpatarinski commented on #33
Hey @Yenthe666 sorry for the delayed response.

Can you try running the sample app from the repo? Is that slow for you?
Also what device are you running?

[2015-05-31 19:17] paulpatarinski commented on #32
@JoshuaNovak919 I will have to fix a couple other bugs before I get to this. But I am using NGraphics within the SVG control, so my guess is that there is a version conflict with both assemblies being referenced. Probably when you added the NControl reference the NGraphics Custom assembly that the SVG plugin depends on got removed.

[2015-05-31 20:22] JoshuaNovak919 commented on #29
This happens in Xamarin Studio, but probably not Visual Studio btw. Since Macs are case sensitive and Windows doesn't really care.

[2015-05-31 23:19] paulpatarinski commented on #29
That explains why I have not encountered it. I work mostly through VS. I will fix this some time this week.

[2015-06-01 06:57] Yenthe666 commented on #33
Hey @paulpatarinski no problem for the delay.

The sample app runs almost instantly and does not seem to have the delay.. Any ideas why the sample app doesn't seem to be affected but mine is? I've simply added your projects in to mine, like this:
<img src="http://i.imgur.com/hbO5mXR.png" alt="Project setup"/>
I'm running this on a Nexus 6 and iPhone 5C.

[2015-06-05 09:47] erikarenhill commented on #33
The problem is with the doctype, remove doctype element from the svg file and it loads instantly. I think it tries to load the dtd file or something, have not investigated it, but had the same problem and I always remove the illustrator export comment and doctype then it works properly

[2015-06-05 09:48] erikarenhill commented on #31
I think that my pull request solves this too. https://github.com/paulpatarinski/Xamarin.Forms.Plugins/pull/34

[2015-06-05 10:56] Yenthe666 commented on #33
Hi @erikarenhill,

Do you mean this line? So that is the only thing I should change/remove?
[code]

I'll give this a test when I'm back in the office, I'll keep you guys updated.

[2015-06-05 11:31] erikarenhill commented on #33
@Yenthe666 yes, remove that line and see if it's the same issue that I had

[2015-06-07 15:30] paulpatarinski commented on #29
This should be fixed in versions >= 1.0.0.21.

https://www.nuget.org/packages/Xam.Plugins.Forms.Svg/

@JoshuaNovak919 can you make sure you are no longer seeing the issue?

[2015-06-07 16:14] JoshuaNovak919 commented on #29
@paulpatarinski Seems to be working great now. Thanks!!

[2015-06-07 16:14] #29 closed

[2015-06-07 17:38] paulpatarinski commented on #32
@JoshuaNovak919 this should be fixed in version >= 1.0.0.23. I am now using a Custom suffix for the NGraphics dlls, so hopefully that will avoid the overlap. If not I will have to update the namespaces as well. Let me know if the issue is resolved

[2015-06-07 18:53] paulpatarinski commented on #31
@JoshuaNovak919 this should be resolved in >= 1.0.0.24. @erikarenhill thanks for the PR. I have implemented the custom renderer fix. I will close the PR since there is no need for the Forms upgrade yet

[2015-06-07 18:53] #31 closed

[2015-06-07 18:53] #32 closed

[2015-06-07 18:57] paulpatarinski commented on #18
I will post updates under issue #33

[2015-06-07 18:57] #18 closed

[2015-06-07 18:58] paulpatarinski commented on #10
I guess this is expected behavior. Here is the proposed approach by Xamarin :

 an Image is a VisualElement in Xamarin.Forms, just like Label, or Button, and
VisualElements can not be used multiple times simultaneously (re-using is
fine).
By declaring the Image as a resource, you are reusing the same Image instance
over and over again, and that's why only one is visible.

In your case, I'd define

[2015-06-07 18:58] #10 closed

[2015-06-07 19:01] paulpatarinski commented on #26
@Emasoft getting the gradients working is a lot of additional work. For now I will close this issue I have #27 open to address the gradients. Other then Gradients most svgs should be rendered correctly

[2015-06-07 19:09] paulpatarinski commented on #33
@Yenthe666 I have validated @erikarenhill 's proposed fix. If you comment out the DOCTYPE the render time does increase significantly.

[2015-06-07 19:09] #33 closed

[2015-06-07 20:20] Emasoft commented on #26
Ok for implementing gradients. But why did you close this issue? SVG files are still not displayed correctly, so this is still an issue. You should close this issue only when the library will be fully SVG 1.1 compliant. Otherwise anybody that discover this issue loading some svg file will report here opening a new issue. Please leave this open to avoid a proliferation of multiple issues for this.

[2015-06-07 21:42] JoshuaNovak919 commented on #32
@paulpatarinski Looks like it's good to go. Thanks!

[2015-06-07 22:12] paulpatarinski commented on #26
Valid point. Reopened.

[2015-06-08 06:16] Yenthe666 commented on #33
@paulpatarinski and @erikarenhill confirmed! This does indeed speed up the rendering by a lot, no more apparent problems then! :+1:

[2015-06-08 06:38] erikarenhill commented on #31
Thanks @paulpatarinski , the form upgrades were pushed to the wrong branch, sorry. Intended to only have the fix in the pull request.

[2015-06-08 13:49] paulpatarinski opened #35 "Having an element of DOCTYPE slows down performance"
In the following SVG, removing the DOCTYPE element increases performance significantly.

<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 40 40" enable-background="ne

[2015-06-08 16:18] JoshuaNovak919 opened #36 "abstractions:SvgImage in ListView ViewCell"
This isn't really a common issue, but I can't figure it out to save my life, so i'm hoping someone here has come across it and knows how to fix it. I'm using `abstractions:SvgImage` in my project and it works great, but when I try to use it in a `ListView` `ViewCell` I get the error `Object reference not set to an instance of an object`. It seems that it can't find the `abstractions:SvgImage` when

[2015-06-09 21:05] erikarenhill opened #37 "iPhone 6 real device does not render images (simulator works)"
Tested with two iPhone 6 (standard, not plus version) via testflight (remote users so I don't have the possibility to debug it, sorry) but images does not work on the real devices. It does however work perfectly on iPad 2 and iPhone 5 with the same iOS version, 8.3. Also the iOS 8.3 simulator works flawless, only on real devices it breaks. The icons take space in the layout because tapgesture reco

[2015-06-11 09:03] Bonnoj commented on #37
I've come across the same issue, it's really tough to debug as it works on my test devices but not for testflight users abroad. Could this be related to higher pixel densities of newer devices as older devices seem to work just fine?

[2015-06-11 13:17] erikarenhill commented on #37
I'm not sure, my first thought would be the same, but the normal iPhone 6 is using the same "@2x" assets (normally if using bitmaps), and iPhone 5 also does this, the iPhone 6 plus do use an "@3x"-edition, however this should not affect the svg-library since it renders the bitmap in the custom renderer and does not try to fetch assets depending on dpi. I think we need to debug on a real device to

[2015-06-11 19:47] paulpatarinski opened #38 "(Research Spike) Add animations support"
Research what it would take to add animations support.

[2015-06-11 19:57] paulpatarinski commented on #37
I will take a look this weekend. If you could pull the device logs from one of the devices it fails on that will be great. Don't have a iPhone 6, so I will be running it in Test Cloud.

@erikarenhill are you seeing this running your personal app or the sample?

p.s. SVGs do render on my iPhone 6 plus running 8.3

[2015-06-11 19:58] paulpatarinski commented on #36
@JoshuaNovak919 I will take a look this weekend.

[2015-06-11 20:00] erikarenhill commented on #37
@paulpatarinski our own application, using both pure code or xaml doesnt make a difference. I'll see if I can get hold of the device log. Thanks!

[2015-06-11 20:00] JoshuaNovak919 commented on #36
@paulpatarinski Thanks!! It seems to happen with other add-ons too. Not sure if there is a special way to reference the `abstractions:SvgImage` in a list view or if there is a special context to pass.

[2015-06-11 20:24] paulpatarinski commented on #37
@erikarenhill to help isolate the issue can you run the Sample app on that device

[2015-06-12 02:13] georgejecook opened #39 "can't compile library or sample project"
I use xamarin studio, perhaps that's the cause; and had to hunt around to see your ngraphics fork to realized why it wouldn't compile.

1. could you put a refernece to that in the docs (saw another noob struggling with it),
2. is there anythign you can do to package your changes with your library?

[2015-06-12 11:42] erikarenhill commented on #37
@paulpatarinski I don't have access to the real device since it's a remote user through testflight I'm afraid. But I did try to embed your Tiger svg and the code from sample application. It did not work either, only white space instead. Works on real iPhone 5 device and iPhone 6 simulator

I tried to instruct that user to pull the device logs, the only data that might be useful is the following:
[

[2015-06-12 12:47] OvidiuCaba opened #40 "The plugin doesn't work properly on Lolipop"
I managed to integrate the plugin in my project and it works properly on devices with lover version of Android, but it doesn't work properly on Lolipop. For example, this file is not rendered at all [and no exception is thrown]:

[code]

[2015-06-12 13:19] paulpatarinski commented on #39
Hey @georgejecook

Can you elaborate a little bit, are you not able to compile the solution under SampleApp\PluginSampleApp? What are the compilation errors you are seeing? Also what do you mean by package changes with the library?

p.s. Excited to try out your FastCell looks really promising.

[2015-06-12 13:37] OvidiuCaba commented on #40
I managed to make it work. I have set wrong request height and width. Funny things that the low versions of Android don't bother with the wrong settings, but Lolipop does.

[2015-06-12 13:37] #40 closed

[2015-06-12 14:52] georgejecook commented on #39
Hi Paul,

It seems your additions to NGraphics are missing. You added some parser stuff in a diferent namespace. I saw you forked NGraphics, and the comment on your name space choice was to avoid collisions. When I pulled down the project it wouldn't build for me, as your fork of Ngraphics was nowhere to be seen.

I saw other comments on the xamarin forums from guys who couldn't get past this eith

[2015-06-12 15:20] georgejecook commented on #39
a bit more info. I'm currently trying to build with a reference to your NGraphics forked project, which contains the missing Parsers classes; but alas it doens't build either. It can't find ApplePlatform, and if I add the standard NGraphics nuget package, I get a ton of naming collisions and nothing compiles.

What I've seen so far is very interesting; but I need to be able to poke around in the s

[2015-06-12 15:42] paulpatarinski commented on #39
@georgejecook figured it out. It was a gitignore fail :( I had the Custom Ngraphics assemblies in a ext_bin folder. https://github.com/paulpatarinski/Xamarin.Forms.Plugins/tree/master/SVG/SVG/SVG.Forms.Plugin.iOS/ext_bin

But they were not checked into source because of gitignore. If you pull latest should be fixed.

Let me know if you are still seeing issues. Also can you point me to the Forums p

[2015-06-12 15:43] georgejecook commented on #39
update. it looks like for some reason you don't have the ext_bin folder for iOS.
Converesely, and rather sadly, the files to fix this are not in your public repo for the NGraphics fork either. I tried using that instead; but it ends up in compile errors which I can't resolve.

![http://oi62.tinypic.com/2el7ez9.jpg](http://oi62.tinypic.com/2el7ez9.jpg)
I'm extremely keen to work with your excellent

[2015-06-12 15:43] georgejecook commented on #39
ha! I got your mail as I pressed comment ;) I'll give it a whirl.

[2015-06-12 15:51] paulpatarinski commented on #39
To elaborate a little more I have changed NGraphics a lot in my fork and I don't see it being merged into master. That being said someone had an issue of using NGraphics as well as this library to avoid the conflict I suffixed my forked assemblies with .Custom. The assemblies you see under ext_bin were from building the NGraphics fork in Release mode. If you have the time open an issue under the N

[2015-06-12 15:59] georgejecook commented on #39
I can’t see how to raise an issue at : https://github.com/paulpatarinski/NGraphics <https://github.com/paulpatarinski/NGraphics>

thx

[2015-06-13 16:49] paulpatarinski commented on #39
Did you get it to build?

[2015-06-13 17:38] georgejecook commented on #39
Yes. Built fine.

It's very impressive. Great work!

Sent from my iPhone

[2015-06-15 01:05] paulpatarinski commented on #39
Thanks

Are you cool with closing this issue at this point?

[2015-06-15 03:05] #39 closed

[2015-07-07 11:00] fcogutierrez opened #41 "KeyboardOverlap not working"
Hello.

I followed all the instructions, but the keyboard does the same behavior over the layout (hiding the bottom side).

I installed the nuget package in the iOS project and then I did the initialization after global::Xamarin.Forms.Forms.Init();

[2015-07-07 13:12] paulpatarinski commented on #41
Do you by any chance have other PageRenderers in your iOS project?

Can you create a sample project or submit a pull request to this project demonstrating the issue?

What does your UI look like? Can you post the page that is not working?

[2015-07-07 13:25] fcogutierrez commented on #41
@paulpatarinski, this is the page:

<?xml version="1.0" encoding="utf-8" ?>
<base:ContentPageBase xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:base="clr-namespace:Elfo.VisionMobile.Core.Views.Base;assembly=Elfo.VisionMobile.Core"
             xmlns:resources="clr-namespace:Elfo.VisionMobile.Core.Resources;assem

[2015-07-07 13:36] paulpatarinski commented on #41
I see, I never tested with a SearchBar (only Entries). I will take a look at adding support for SearchBar.

[2015-07-08 07:43] fcogutierrez commented on #41
Ok @paulpatarinski, just waiting :-)

[2015-07-09 05:32] paulpatarinski commented on #41
hey @fcogutierrez

Had a chance to look at your example more. You are having a completely different issue. It is not that that search bar is overlapped or that an entry is overlapped it is a button at the bottom of your page.

<img width="376" alt="sendbtnoverlap" src="https://cloud.githubusercontent.com/assets/7964134/8588468/8d41185a-25d0-11e5-871c-efa0d95d824d.png">

This plugin aims to resolve

[2015-07-09 07:50] fcogutierrez commented on #41
Hello @paulpatarinski, first of all, thanks about your help :-)

Secondly, where should I place that code?

Thanks again!!

[2015-07-09 08:01] paulpatarinski commented on #41
You can tap into the Entry TextChange event http://developer.xamarin.com/api/event/Xamarin.Forms.Entry.TextChanged/

In the event handler check if they have some text entered and run the code above.

The Keyboard overlap Custom renderer has some examples of LayoutTo

https://github.com/paulpatarinski/Xamarin.Forms.Plugins/blob/master/KeyboardOverlap/KeyboardOverlap/KeyboardOverlap.Forms.Plugin.iOS

[2015-07-13 15:29] #41 closed

[2015-07-14 16:22] georgejecook opened #42 "is it possible to change the color of an svg image at runtime?"
I use svg's to create icons. they are white on transparent backgrounds.. it'd be really handy to be able to change the white color svg paths to a different color (but keep the background transparent)

Any way to do this?

[2015-07-14 16:28] paulpatarinski commented on #42
Hey @georgejecook

Nice to hear from you again.

In the following svg :

[code]

Notice the fill attribute on the path. That's what dictates the color of the path. In other words open up your svg in a text editor and add a fill attribute to the path you want to color.

You can also add a fill attribute to an entire group (<g>) to color all the shapes inside of it.

Hope that helps.

Cheers

[2015-07-14 16:30] georgejecook commented on #42
nice to be heard. Had my second kid so been really busy with that.

I know I Can do that - I’m wondering if I can do it programmatically. That way I can add a “renderColor” property to my Xamarin SvgImage element, and reuse the same icons in many different places.

[2015-07-14 16:38] paulpatarinski commented on #42
Ahhh that's funny my email notification got truncated at is it possible to change the color of an svg image
:)

I will have to double check if NGraphics supports it and expose it in the SVGImage control. As of right now, NO way to do it at runtime.

[2015-07-14 18:09] georgejecook opened #43 "any chance of scalable (i.e. 9 slice) svgs?"
or if not, any pointers, on how one might go about implementing it?

[2015-07-14 19:11] trevoriancox opened #44 "Editor control - page does not scroll to show current editing position."
I have a page that has Entry's followed by a multi-line Editor. I have tried using a ScrollView and using the KeyboardOverlap plugin. In both cases, the page does scroll so that the Editor field is visible, but the current line of text is not visible. The KeyboardOverlap plugin sample app does not test Editor controls.

[2015-07-15 15:13] paulpatarinski commented on #44
I will work on adding support for multi-line editor.

[2015-07-21 14:37] paulpatarinski opened #45 "Merge the functionality provided by ExtendMap"
Work with @rafaelrmou to merge the functionality provided by https://github.com/Xamarin-Student-Ambassadors/mapextend-plugin

[2015-07-25 20:24] Emasoft commented on #43
SVG are already scalables, being vector based.

For example:

For gradients I just use an SVG image. A simple rectangle drawn in Inkscape, where I can edit and preview all gradients colors, steps, orientation, etc. This is the svg file content:

    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/

[2015-07-26 20:09] Emasoft commented on #43
I stand corrected: there is a way to apply 9-slice grid to an SVG element. And that is by using the CSS style attribute BORDER-IMAGE-SLICE. The SVG 1.1 format includes almost all CSS style attributes.

[https://developer.mozilla.org/en-US/docs/Web/CSS/border-image-slice](https://developer.mozilla.org/en-US/docs/Web/CSS/border-image-slice)

![border-image-slice](https://cloud.githubusercontent.com/

[2015-07-27 20:45] paulpatarinski commented on #36
Hey @JoshuaNovak919 I got a fix for this for iOS and Win Phone (Android seems to still have an issue). I will let you know when the nuget is out. Performance seems to suck, so I will have to work on that at some point in the future...

[2015-07-27 20:47] #5 closed

[2015-07-27 20:49] paulpatarinski commented on #42
@georgejecook have you looked at https://github.com/chrfalch/NControl it uses NGraphics to help create svgs at runtime...

[2015-07-28 18:48] paulpatarinski opened #46 "Make sure border thickness matches on all Android versions"
https://testcloud.xamarin.com/test/roundedboxview_8df7e5de-da46-4ab9-ab00-776ba7a97ddb/?step=0_0_0

[2015-07-28 18:49] paulpatarinski commented on #46
Also make sure the CornerRadius matches

[2015-08-05 21:06] JoshuaNovak919 opened #47 "RoundedBoxView round inner content/half circle"
Is there a way to round the content in the box, for example an image or another box view. Is there a way to make a half circle?

[2015-08-06 20:22] paulpatarinski commented on #47
Hey Josh,

From my knowledge the BoxView does not support having children or content, which makes the first case you are suggesting impossible.

There is not way to make half a circle just by using the RoundedBoxView.

Now all that being said. Here are some suggestions on how to accomplish what you are trying to do.

1. Create a RelativeLayout > Add RoundedBoxView as a child > Add the other conten

[2015-08-06 21:27] JoshuaNovak919 commented on #47
@paulpatarinski Thanks for the help. I ended up using `canvas.DrawPath` with `NControl` for now. It's not the best way to handle it, but it'll do until I have time to figure something better out.

[2015-08-06 21:27] #47 closed

[2015-08-07 14:50] mwillebrands opened #48 "KeyboardOverlap does not work correctly on rotate"
When a field is being edited and the frame is slided up, and you rotate the app, and click away the keyboard, the wrong position is restored.

I cant figure out why this is happening

[2015-08-08 16:22] paulpatarinski commented on #48
Sounds like a scenario I didn't think about. What happens is when you expand the keyboard I get the height of the keyboard and shift the page up by that amount. Then when you collapse the keyboard a shift the page down by that amount. Since you are rotating the device the keyboard height changes. What I could do is add some functionality to remeasure the height of the Keyboard on rotate

[2015-08-13 12:27] mwillebrands commented on #48
Would be awesome! :D

[2015-08-15 22:32] jbravobr opened #49 "Invalid parameters to context creation"
at CoreGraphics.CGContext.set_Handle (IntPtr value) [0x00010] in /Users/builder/data/lanes/1977/2c66d2fe/source/maccore/src/CoreGraphics/CGContext.cs:156
  at CoreGraphics.CGContext..ctor (IntPtr handle, Boolean owns) [0x00006] in /Users/builder/data/lanes/1977/2c66d2fe/source/maccore/src/CoreGraphics/CGContext.cs:136
  at CoreGraphics.CGBitmapContext..ctor (IntPtr data, nint width, nint height, n

[2015-08-15 22:53] paulpatarinski commented on #49
Can you post the code, xaml, ViewModel that you are using?

[2015-08-16 13:50] jbravobr commented on #49
Hi! Yes

**XAML of the MainPage**

<?xml version="1.0" encoding="UTF-8"?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
        xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
        xmlns:ctrls="clr-namespace:StudyxnetXAMLImageControl.Controls;assembly=StudyxnetXAMLImageControl"
        xmlns:vms="clr-namespace:StudyxnetXAMLImageControl.Models;assembly=StudyxnetXAMLImageContr

[2015-08-16 14:15] jbravobr commented on #49
Sorry forgot the code-behind of my Control

using System;
using System.Collections.Generic;
using Xamarin.Forms;
using System.Reflection;

namespace StudyxnetXAMLImageControl.Controls
{

    /*
     * ok hand by Till Teenck from the Noun Project
    */

    public partial class ImageSVGControl : ContentView
    {
        public static readonly BindableProperty ImageSourcePathToSVGProperty =

[2015-08-26 19:07] JoshuaNovak919 opened #51 "SVGs don't show up unless you use Don't Link assemblies option"
The SVGs only show up on the device if I have the `Don't Link` assemblies option selected. If I select the proper `Link SDK Assemblies` the SVGs don't show up.

[2015-08-27 11:11] JoshuaNovak919 commented on #51
I believe you may need to modify the iOS render like so:

[code]

[2015-08-27 19:41] JoshuaNovak919 commented on #51
Still having this issue and can't release the app because it is saying the executable is too large when I select `Don't Link`. Anyone know a workaround or fix?

[2015-08-27 19:57] JoshuaNovak919 commented on #51
I built a version of this Nuget locally and my change did indeed work. I'd push a branch, but i'm on mac so I don't have a windows builds and my paths are slightly different etc.

This change is based off an issue in a simliar nuget: https://github.com/jamesmontemagno/Xamarin.Plugins/issues/79

Here is my changed iOS renderer:

SvgImageRenderer.cs:

[code]

[2015-08-27 22:56] paulpatarinski commented on #51
Hey Josh

I will fix this tonight.

[2015-08-28 09:36] fvermeulen opened #52 "MapExtend in Xaml"
Hello,
I wanted to use the ExtendMap in Xaml.

For the normal maps i would use that line to reference the maps
`xmlns:maps="clr-namespace:Xamarin.Forms.Maps;assembly=Xamarin.Forms.Maps"``

For MapExtend I use
`xmlns:mapExtend="clr-namespace:Xamarin.Forms.Maps;assembly=Xam.Plugin.MapExtend"`

and that
` <mapExtend:MapExtend
            WidthRequest="320"
            HeightRequest="200"

[2015-08-28 22:22] paulpatarinski commented on #51
Hey @JoshuaNovak919 let me know if 1.0.0.25 resolves your issue.

[2015-08-29 03:05] paulpatarinski commented on #49
@jbravobr It is not very clear from the code you have posted how exactly you are using the control I would recommend taking a look at the [project home page](https://github.com/paulpatarinski/Xamarin.Forms.Plugins/tree/master/SVG) for  sample reference or taking a look at the [Sample App](https://github.com/paulpatarinski/Xamarin.Forms.Plugins/tree/master/SampleApp).

Another option would be to cr

[2015-08-30 23:29] paulpatarinski commented on #51
Hey Josh is this resolved?
Cheers

[2015-08-31 03:46] JoshuaNovak919 commented on #51
@paulpatarinski I haven't been around for a bit so I didn't get to try it. I'll check it first thing tomorrow and let you know.

[2015-08-31 21:38] JoshuaNovak919 commented on #51
@paulpatarinski Looks good to go. Thanks!!!

[2015-08-31 21:38] #51 closed

[2015-09-03 13:52] BradChase2011 opened #53 "I added replacement colors to SVG."
I wanted to note that if you check my fork, I added the start of replacement colors to SVG.  Dont get too excited yet as I have not tested it on iOS(same code as Android) but it works so far on Android.  I have not implemented it yet for windows as that code was different, its on my next TODO.  I also added a new tab with a sample of it.

I hope its ok, I am new to these public Gits so I dont know

[2015-09-03 20:08] BradChase2011 commented on #53
I added support for WinPhone.

Is there a way to use NGraphics for WinPhone instead of wrapping in XAML?  It doesnt seem like it is far off for us to manually create it?  I think I would like to go that route, ideas?

Brad

[2015-09-03 20:17] BradChase2011 commented on #53
Tested under iOS, works under new update.

Brad

[2015-09-03 23:10] codercampos opened #54 "ExtendedMapRenderer on iOS doesn't appear on nugget package"
I recently download the plugin from nuget but when I want to add the Renderer Init it simple does not appear anywhere, like if the package does not exists on iOS. For the moment I will download the plugin and compile it myself. Or maybe I'm doing something wrong.

Regards

Btw: I download the package from Nuget in VS

[2015-09-04 12:09] #6 closed

[2015-09-04 12:09] #19 closed

[2015-09-04 12:09] #24 closed

[2015-09-04 12:10] paulpatarinski opened #55 "Add camera transition"

[2015-09-04 12:11] paulpatarinski opened #56 "Dismiss Footer on Map Tap"

[2015-09-04 12:23] Emasoft commented on #38
The best thing would be to add standard SMIL script support. It's already part of the SVG standard after all. There are a lot of tools that allow to reate SVG animations and save them in SVG+SMIL format. This will make easy to include animations in icons, buttons, controls, components, etc. And it is very well designed, excellent for perfectly timed and professional animations.

http://www.w3.org/

[2015-09-04 12:59] paulpatarinski commented on #54
@codercampos I just released [1.5.0](https://www.nuget.org/packages/Xam.Plugins.Forms.ExtendedMap/1.5.0) which is an Alpha release of what the final control should look and feel like. That now has an iOS implementation as well. Let me know if you are having trouble getting it to work.

[2015-09-04 13:00] paulpatarinski commented on #49
@jbravobr Were you able to get it working?

[2015-09-04 13:02] paulpatarinski commented on #52
@fvermeulen I haven't tested the control in XAML. I will probably be working on putting some samples and docs together for the 1.5.0 release and I will include XAML samples as part of that https://www.nuget.org/packages/Xam.Plugins.Forms.ExtendedMap/1.5.0

Check out 1.5.0 it has a lot of improvements in it. Assembly name is ExtendedMap.Forms.Plugin.Abstractions.dll

[2015-09-04 13:04] paulpatarinski opened #57 "Use NGraphics for Win Phone instead of XAML"

[2015-09-04 13:05] paulpatarinski commented on #53
Hey Brad.

Thanks a lot for the work you have done. I will take a look at it over the weekend and try to merge it in.

On the whole Win Phone topic I did try to get that working but was having trouble with on device (was working fine in sim). I will give it another shot.

I have created a separate issue for that : https://github.com/paulpatarinski/Xamarin.Forms.Plugins/issues/57

Cheers
Paul

[2015-09-04 15:19] BradChase2011 commented on #53
Ohh sweet!  Thats weird it worked fine in one and not the other.  I have never targeted WinPhone so this will be the first, although I have used Silverlight plenty.  On a side note, an easier way of doing the replacement might be to just manually replace in the svg string but I didnt know the format as to what is allowed 8 digit and 6 digit hex on the color, color names, case sensitivity, on and o

[2015-09-04 16:09] jbravobr commented on #49
Hi Paul,

No I didn't. I will upload my solution if you could check it ?

On Fri, Sep 4, 2015 at 10:00 AM, Paul P <notifications@github.com> wrote:

--
Atenciosamente
Rodrigo Amaral
(21) 97551-9377

[2015-09-04 16:15] paulpatarinski commented on #49
@jbravobr Absolutely I will take a look.

[2015-09-04 16:24] jbravobr commented on #49
Awsome Paul ! Give to saturday so I can upload that to My Github and i
email you, okay ?!

Again, a BIG thanks to you !

On Fri, Sep 4, 2015 at 1:15 PM, Paul P <notifications@github.com> wrote:

--
Atenciosamente
Rodrigo Amaral
(21) 97551-9377

[2015-09-04 17:23] paulpatarinski commented on #49
Sounds good. I will probably take a look at it Sunday

[2015-09-05 00:15] JoshuaNovak919 opened #58 "Android NGraphics.Android.Resource is defined multiple times"
I am getting the message `NGraphics.Android.Resource is defined multiple times` when I use NControl and this SVG plugin. Anyone know how to fix this?

[2015-09-05 12:54] #25 closed

[2015-09-05 12:57] paulpatarinski commented on #38
Great feedback. Honestly I don't see myself working on this for at least another year. Need to work on getting NGraphics to be SVG 1.1 compliant first and there is plenty of work left there. Now that I have gotten closer to finishing the ExtendedMaps I will probably start spending more time on the SVGs

[2015-09-07 13:45] paulpatarinski commented on #54
@codercampos did you get a chance to test this?

[2015-09-07 13:48] paulpatarinski commented on #37
@erikarenhill Can you re-test this with the latest nuget package 1.5.0.

[2015-09-07 13:52] codercampos commented on #54
I haven't I have to use my own implementation for a quick release to the customer. I will try this tonight and give you feedback to close this issue. Thanks in advance and such a great work btw :+1:

[2015-09-08 14:06] erikarenhill commented on #37
@paulpatarinski Hi, thanks for the update. Unfortunately it does not work.

Works on iPhone 5, ios 8.4.1
Does not work on iPhone 6, ios 8.3
Does not work on iPad 2

[2015-09-08 15:04] BradChase2011 commented on #42
@georgejecook I wanted to reply to this thread so you were notified George.  I added the ability in my fork.

[2015-09-09 02:55] JoshuaNovak919 commented on #58
Anyone? :(

[2015-09-09 23:26] paulpatarinski commented on #58
Hey Josh. Can you throw together a sample that demos the issue? It would help me resolve it. Both NControl and the SVG plugin use NGraphics under the hood have had issues with that before.

[2015-09-09 23:52] JoshuaNovak919 commented on #58
I'll throw one together in about an hour when I get home. Basically any project you add this plugin and NControl to has the issue on Android

[2015-09-10 02:52] JoshuaNovak919 commented on #58
Here is the sample project. It works in iOS, but won't build for Android because of the issue. I'm hoping you have an idea on how to fix it, cause i'm at a loss. I haven't done much with Android before.

https://drive.google.com/file/d/0B68aZqcn2sxXdjdZX08tVEF2U28/view?usp=sharing

[2015-09-10 05:44] JoshuaNovak919 commented on #58
@paulpatarinski Even if you find/know of a way to temporarily fix it let me know. I need to prepare the Android version for launch soon and I can't even get it to build.

[2015-09-10 05:52] JoshuaNovak919 commented on #58
Also, for reference, this is the full line it is giving me trouble with because it is repeated:

`global::NGraphics.Android.Resource.String.library_name = global::svgnc.Droid.Resource.String.library_name;`

[2015-09-11 08:55] andreagiunta opened #59 "RoundedBoxView radius lost on animation"
I made a switch control with two roundedboxview (rbv). The base rbv has a corner radius set to 20d, the inside view is a circle with 360 corner radius.
The animation is simple, i move the inside rbv edge to edge. And it works great.
But if i change the color of the base rbv, during the animation, the rbv lose is corner radius property and i cannot set again.
Tested on android.
![correct status](ht

[2015-09-12 06:00] boomercoder opened #60 "KeyboardOverlap slides more than it should"
Here are the screenshots. The yellow box is the Entry itself.

1. Shows the keyboard closed. The gray area in the bottom is a tab bar. You can ignore it.
2. Shows the keyboard in active state. Notice the the white area between the keyboard and the entry field.
3. Shows the state when the QuickType suggestions are closed by swiping down. The Entry field slides far above when you close the suggestio

[2015-09-15 16:53] scottwojan opened #61 "Breaks in Release mode using a gridview layout"
https://www.dropbox.com/s/mmgkan2eobylg03/KeyboardTest.zip?dl=0

The attached solution has a form using a gridview.  The odd thing is that it works in debug mode but doesn't in Release.  I'd really appreciate any help you could provide.

[2015-09-16 00:53] JoshuaNovak919 commented on #58
@paulpatarinski You happen to get a chance to look at this? I'm still stuck on how I can fix this.

[2015-09-16 10:14] JoshuaNovak919 commented on #58
@paulpatarinski It looks like this may be as simple as changing:

`<string name="library_name">NGraphics.Android</string>`

to

`<string name="library_name">NGraphics.Android.Custom</string>`

in your custom NGraphics Strings.xml file.

`NGraphics/Platforms/NGraphics.Android/Resources/values/Strings.xml`

although I don't know how to make this a dll for the SVG plugin.

[2015-09-16 19:15] paulpatarinski commented on #58
Hey Josh,

I am thinking the same thing. Need to use custom namespace I have started working on it in my NGraphics fork. Pretty close to getting it done.

[2015-09-16 19:34] JoshuaNovak919 commented on #58
@paulpatarinski Oh ok awesome! I was about to try it myself, but i'm not really sure what i'm doing with that stuff. Haven't done anything with Android before.

[2015-09-18 14:32] ChaseFlorell opened #62 "SVG As ToolbarItem in Xamarin Forms"
I haven't looked at it myself, but I'm wondering if there's a way to add an SVG as a Toolbar icon?

[code]

[2015-09-20 14:05] paulpatarinski commented on #58
@JoshuaNovak919 I have changed all the NGraphics assemblies to have a suffix of Custom. Check out V 1.0.0.26 https://www.nuget.org/packages/Xam.Plugins.Forms.Svg/. Let me know if it resolves the issue (did for me in a sample project)

[2015-09-21 16:20] paulpatarinski commented on #62
I think the question would be what is ToolbarItems. If it is a collection of Views, I don't see why not. Never tried either.

[2015-09-21 16:25] paulpatarinski commented on #59
First of all awesome work, never thought that the RoundedBoxView would be used to create other controls. Can you put together a sample, which demos the issue?

[2015-09-21 16:25] paulpatarinski commented on #58
Josh any luck?

[2015-09-21 16:26] JoshuaNovak919 commented on #58
@paulpatarinski I'll be testing it shortly. I couldn't wait before so I built it myself based off the code you had worked on etc, so I need to switch it out and make sure it is still working.

[2015-09-22 00:46] paulpatarinski commented on #62
Had a chance to look at this more. Short answer is without extending the ToolbarItems i.e. Custom Renderer can't do it. ToolbarItems is a collection of ToolbarItem https://developer.xamarin.com/api/type/Xamarin.Forms.ToolbarItem/

Icon is a string - FileImageSource. Gets or sets a string that identifies the image that is displayed on this ToolbarItem element.

In other words the implementation is

[2015-09-22 00:46] #62 closed

[2015-09-22 01:09] paulpatarinski commented on #61
Hey Scott. I was trying to reproduce this with the attached sample, but was not able to in Debug or Release using the Simulator. Are you seeing this both on device and sim? This is the UI I should expect to see right :

![ios simulator screen shot sep 21 2015 8 06 09 pm](https://cloud.githubusercontent.com/assets/7964134/10009024/3bb9da74-609c-11e5-9bf0-8036043c7cfd.png)

[2015-09-22 01:13] scottwojan commented on #61
Yes it was doing it in the sim in Release mode.  When you click the license input the keyboard overlays it.

Sent from my iPhone

On Sep 21, 2015, at 8:09 PM, Paul P <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey Scott. I was trying to reproduce this with the attached sample, but was not able to in Debug or Release using the Simulator. Are you seeing this both on device an

[2015-09-22 01:20] #54 closed

[2015-09-22 01:22] paulpatarinski commented on #49
@jbravobr any update on this?

[2015-09-22 09:31] JoshuaNovak919 commented on #58
@paulpatarinski Looks good. Thanks!!

[2015-09-22 09:31] #58 closed

[2015-09-22 12:41] paulpatarinski commented on #61
This is what I see in release mode, keyboard does not overlap the entry field.

![ios simulator screen shot sep 22 2015 7 38 54 am](https://cloud.githubusercontent.com/assets/7964134/10018509/001819ca-60fd-11e5-9795-f89ee6c0c822.png)

The only way I could get it to overlap is if I tap the State entry first, then WITHOUT tapping away tap the License # entry

[2015-09-22 17:14] scottwojan commented on #61
Okay so it looks like it's not doing it in the sim but definitely is on an actual device.  The attached screenshot shows the overlay of the keyboard.  Click in state and then click in license, the keyboard blocks it.

[image1.PNG]

Sent from my iPhone

On Sep 22, 2015, at 7:42 AM, Paul P <notifications@github.com<mailto:notifications@github.com>> wrote:

This is what I see in release mode, keyboar

[2015-09-23 00:22] jbravobr commented on #49
Hi Paul! Thanks for reply! I'm was able to fix my mistake,,it's was a problem with my view model! Thanks

Enviado do meu iPhone

[2015-09-23 03:55] paulpatarinski commented on #49
Cheers man, glad you got it working

[2015-09-23 03:55] #49 closed

[2015-09-24 13:45] andreagiunta commented on #59
Hi.
I'm glad you appreciate.
Sorry for the delay but i'm really busy right now.
I made a try today with:

-a roundboxview
-an svg of a white circle

this two elements are added in a relative layout and still doesn't work.

anyway i've removed using and namespaces, you have to modify the
BoxView baseView = new BoxView() with a roundboxview to reproduce.
Hope this can help.

Have a nice day

2015-09

[2015-09-24 22:44] foresterh commented on #49
@jbravobr do you know what the problem with you VM was?  I'm getting the same error...

[2015-09-28 14:30] scottwojan commented on #61
Paul, were you able to replicate?

[2015-09-28 23:26] JoshuaNovak919 opened #63 "SVG opacity"
Do SVG opacities work? I can't seem to get them working on Android. I'm not sure what version of the attribute is working if any (ie `fill-opacity="0.5"`, `opacity="0.5"`, or `style="fill-opacity:0.5"`).

[2015-09-28 23:29] JoshuaNovak919 commented on #63
NVM. I added all three and one of them worked lol.

[2015-09-28 23:29] #63 closed

[2015-09-29 01:12] vhugogarcia commented on #42
@georgejecook would you mind share with us the fork.

[2015-09-29 02:23] georgejecook commented on #42
Very thoughtful Brad. I’ve been musing on some new ideas for svg, and the project I’m in should ramp down over the next few weeks, so I look forward to picking this up.

Thanks!

[2015-09-29 02:24] paulpatarinski commented on #61
Sorry @scottwojan I am not able to replicate.

Using this project : https://drive.google.com/file/d/0By1OWryhO3RPMC1fWVg1d0JDZlk/view?usp=sharing

When I run on my iPhone 6 Plus using iOS 9.01 this is what I see :

![img_1232](https://cloud.githubusercontent.com/assets/7964134/10153956/367236b6-6627-11e5-91cc-5c2ad5349d57.jpg)

![img_1233](https://cloud.githubusercontent.com/assets/7964134/1015395

[2015-09-29 13:01] BradChase2011 commented on #42
@vhugogarcia Was that in response to me?  If so here it is:  https://github.com/BradChase2011/Xamarin.Forms.Plugins

I most likely need to update it, I am running a separate copy of it since I last posted on it.

[2015-09-29 13:15] vhugogarcia commented on #42
@BradChase2011 you are right, I'm so sorry. Thanks for sharing it.

@paulpatarinski I'm wondering if you are interested on add the feature of change color from the idea of BradChase2011?

Thanks all for sharing this!!! really appreciate it.

[2015-09-29 13:16] BradChase2011 commented on #42
@vhugogarcia Last I checked with Paul he said he would look into it, not sure where it led or if he ever had time.

[2015-09-29 14:17] vhugogarcia opened #65 "SVG "desc" element is not supported on Xamarin.iOS"
Hello friends,
I implemented a demo app using Xamarin.Forms 1.5.x and this plugin looks really amazing on the capabilities, however I'm getting an error when trying to run the app on the iPhone simulator, Xamarin fires an error on "FinishedLaunching" event under AppDelegate.cs and the error is on line: LoadApplication(new App());

Any idea or workaround what I could be missing?

Note: I added the

[2015-09-29 15:14] paulpatarinski commented on #65
Hey @vhugogarcia

Open up your svg in a text editor (Notepad++) and search for "desc" elements. Get rid of those elements and try again

[2015-09-29 15:56] paulpatarinski commented on #42
Hey guys

Sorry for not responding earlier.

@BradChase2011 I had a chance to look at the code last night.

The more I think about this feature though the more I am hesitant to make it part of the plugin.

Here are a couple reasons why :

* The main goal for this plugin is to provide a thin wrapper for NGraphics and expose a simple to use api to parse and render SVGs. That being said my fear is th

[2015-09-29 16:50] BradChase2011 commented on #42
@paulpatarinski Sure sounds reasonable to me.  I specifically needed the code so that is why I went down the path of building it.  I also didnt want to hog it all to myself :).  Whether or not it goes in is prolly best judged by you.  Atleast the code is up there if anyone needs the feature.

[2015-09-29 16:51] georgejecook commented on #42
Any way you can expose this by decoration? So maybe have a “AbstractSVGModifier” class, which one can extend to manipulate an svgs rendering in any way required, without polluting your code, or making you responsible for an ever-growing list of properties. It’d require some hooks into the rendering pipeline; but hopfeully they would be manageble.

That’d keep the load of your shoulders, while empo

[2015-09-29 17:07] vhugogarcia commented on #65
Thanks @paulpatarinski  for your faster response.

I removed "desc" element from the SVG file and now the error says: "SVG "mask" element is not supported

However, by removing that <mask> element the image is not like the original design.

Any suggestions?

[2015-09-29 18:00] paulpatarinski commented on #65
Currently only a subset of SVG elements are supported. My goal is to eventually support the full spec https://github.com/paulpatarinski/Xamarin.Forms.Plugins/issues/26

In the meantime I can think of the following options :

* Try to achieve the same effect by using one of the other supported elements
* Remove the mask as a whole
* Try to add support for mask (based on my experience most elements

[2015-09-29 18:20] paulpatarinski commented on #42
@BradChase2011 totally get it and by no means am I trying to discourage what you did. I am actually pretty excited, since this is the first significant contribution anyone has tried to make :)

@georgejecook totally can make it work that way, but at that point is it much different then [NControl](https://github.com/chrfalch/NControl)  :

[code]

and while currently the 2 controls have different go

[2015-09-29 18:24] georgejecook commented on #42
Yes,

it seems to me like it’d be great to be able to tinker with the rendering mechanism in NGraphics, so that any libraries could hook into that, to make changes, as per their own apis. Consolidating the SVG image manipulation in NGraphics seems more logic to me.

[2015-10-01 02:09] scottwojan commented on #61
Paul, could you please review this one?  Attached is a screenshot of the issue on my iPhone 6 with iOS 8.4.1.  It was built in release mode.

https://www.dropbox.com/s/mmgkan2eobylg03/KeyboardTest.zip?dl=0

![keyboard](https://cloud.githubusercontent.com/assets/10407473/10211297/54dd6fa8-67b7-11e5-8939-eaaadc74734b.jpeg)

[2015-10-01 20:16] scottwojan commented on #61
This is an iPhone 5s with iOS 9.  Still blocking the input.

[2015-10-06 22:05] prefectlyspelt opened #66 "iOS sample implementation flawed"
Following the sample implementation in the sample app for ExtendedMaps on iOS.

using ExtendedMap.Forms.Plugin.iOS;

results in the following error:

The type or namespace name `iOS' does not exist in the namespace `ExtendedMap.Forms.Plugin'.

Searching through the libraries gives no resolution for the iOS side for

ExtendedMapRenderer.Init ();

for Xamarin.Forms iOS projects.

[2015-10-13 10:40] avorobjovs opened #67 "Could not install package 'Xam.Plugins.Forms.RoundedBoxView 1.0.0.6'"
Hi,

I tried to install Xam.Plugins.Forms.RoundedBoxView 1.0.0.6 to Xamarin.Forms application which includes Android, iOS, WinPhone 8.1, and Windows 8.1 projects. But I have the following error in the NuGet Package Manager in my Visual Studio 2015:

"Install failed. Rolling back...
Could not install package 'Xam.Plugins.Forms.RoundedBoxView 1.0.0.6'. You are trying to install this package into a p

[2015-10-13 13:24] schmidan opened #68 "SVG Resetting Path not forcing redraw"
Hei there
i use SVGImage in a Fastcell enabled Listview. It all works quite well.
Except that reseting the Path does not seem to force the SVG to redraw. So reused Cells will not show the content appropriate image, instead they show the SVG which they were first bound to.

Is this an issue, or am i using SVGImage wrong?

thanks and cheers

[2015-10-14 23:29] paulpatarinski commented on #67
My guess is it is because the RoundedBoxView has no Win 8.1 support. Only WinPhone, so it targets a different profile. No plans at this point to add support for Win 8.1, but you can always clone the repo and retarget the projects to the different profile and add a reference in your project

[2015-10-17 15:53] paulpatarinski commented on #68
Hey @schmidan

It is an issue, I have not added support for using the SVGs as part of a listview

Basically OnElementPropertyChanged needs to be implemented in the custom renderers.

[2015-10-17 15:56] paulpatarinski commented on #66
Can you give me more details as to how you are getting this error?

Is it when you try to run the Sample App in the root (the one containing all the plugins), the sample app part of the ExtendedMap or your own app?

[2015-10-17 15:56] #65 closed

[2015-10-17 17:12] paulpatarinski commented on #59
@andreagiunta I hacked this together quickly so it might not be exactly what you are looking for but should get you on the right track

[code]

![ios simulator screen shot oct 17 2015 12 11 14 pm](https://cloud.githubusercontent.com/assets/7964134/10560178/39a91412-74c8-11e5-9e27-4573ed578d87.png)

![ios simulator screen shot oct 17 2015 12 11 48 pm](https://cloud.githubusercontent.com/assets/7964

[2015-10-17 17:36] andreagiunta commented on #59
Thanks i'll try asap.
On this project due to timing we fixed with an svg, but know i want to know
Really appreciate it

2015-10-17 19:12 GMT+02:00 Paul P <notifications@github.com>:

--
Andrea Giunta

[image: Immagine in linea 1]
Microsoft Azure MVP 2015
Senior Mobile Developer @ Garoo S.r.l.
CTO @ICSoftwareSolution S.R.L.S.

[2015-10-18 15:42] paulpatarinski commented on #59
I am gonna close this for now. I will reopen if needed

[2015-10-18 15:42] #59 closed

[2015-10-18 15:44] paulpatarinski commented on #36
#68 will be used for more updates on this

[2015-10-18 15:44] #36 closed

[2015-10-18 20:25] prefectlyspelt commented on #66
This is using the ExtendedMap in my own solution, as well as a similar issue in the root example.

I'm using Xamarin Studio running on a Mac El Capitan, with the latest Xamarin Studio and getting the latest packages from NuGet for everything, including the latest Xamarin.Forms.

Sample App (with all the plug ins, downloaded entire GitHub content, directly from GitHub via Zip):
TwoColumnCellRendere

[2015-10-18 20:25] prefectlyspelt commented on #66
<img width="1279" alt="screen shot 2015-10-18 at 3 20 50 pm" src="https://github-cloud.s3.amazonaws.com/assets/15005254/10566420/6b5b1b4c-75ac-11e5-94ef-e730b0f0f222.png">

[2015-10-18 20:28] prefectlyspelt commented on #66
<img width="1266" alt="extendedmapsample_appdelegate" src="https://github-cloud.s3.amazonaws.com/assets/15005254/10566439/c0441924-75ac-11e5-8131-15b4a7cc75be.png">

Working ExtendedMap sample

[2015-10-19 14:49] prefectlyspelt commented on #66
<img width="1175" alt="screen shot 2015-10-19 at 9 46 22 am" src="https://cloud.githubusercontent.com/assets/15005254/10581053/5b8f22d6-7646-11e5-85b3-c3aea732055a.png">

Screenshot showing that ExtendedMap.Forms.Plugin.iOS is not available in Xam.Plugins.Forms.ExtendedMap as downloaded from NuGet using Xamarin Studio's package manager.

[2015-10-20 17:31] AndrewDPalmer opened #69 "SvgImage views make app extremely slow on render"
I am experiencing a severe slowdown when loading an SVGImage using your control.  For some reason a view with a single SvgImage will take ten seconds to render.  If I remove that SvgImage control it will render almost instantly.

[2015-10-20 17:32] AndrewDPalmer commented on #69
I'll add that this slowdown happens on rendering the view to the screen not on creating the SvgImage instance.

[2015-10-21 15:15] robmpreston opened #70 "IntPtr.Zero error with ExtendedMap on Android only"
Hi,

Im having an issue with a jobject must not be set to IntPtr.zero error on Android

In my Order view page, I have a map displayed with 3 custom pins

The first time I load an Order, the pins render correctly and everything is fine

Then if I hit back, and open another order (pr the same one) I get a jobject must not be set to IntrPtr.Zero error.

If I comment the custom pin code I have no issu

[2015-10-21 15:16] robmpreston commented on #66
Yep, I had the same issue. I literally had to grab the iOS code and put the entire folder in my project to get it to work for now.

[2015-11-06 00:36] anujb opened #72 "SVGImage not compatible work with Shared Projects"
In fact, Build Action is Embedded Resource is defined :-)

System.Exception: Error retrieving ic_call_black_24px.svg make sure Build Action is Embedded Resource
  at SVG.Forms.Plugin.iOS.SvgImageRenderer.OnElementChanged (Xamarin.Forms.Platform.iOS.ElementChangedEventArgs`1 e) [0x00046] in <filename unknown>:0
  at Xamarin.Forms.Platform.iOS.VisualElementRenderer`1[TElement].SetElement (Xamarin.Fo

[2015-11-06 03:13] russellharvey commented on #61
I'm experiencing the same difficulty across an iPhone 6 running iOS 8.x and an iPhone 6s running iOS 9.1.  No GridViews present, just several StackLayouts with an Entry at the bottom of the main layout.

Works fine in the simulator in all modes, and works fine on devices in Debug mode, but the keyboard occludes the Entry in Release mode.

[2015-11-06 03:19] scottwojan commented on #61
Unregister the nuget plugin and put his classes I'm your project directly and see if that works.  That's the only thing that worked for me!

Sent from my iPhone

On Nov 5, 2015, at 9:13 PM, russellharvey <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm experiencing the same difficulty across an iPhone 6 running iOS 8.x and an iPhone 6s running iOS 9.1. No GridViews present,

[2015-11-06 23:31] russellharvey commented on #61
Worked like a charm when using the classes directly.  Most perplexing.

[2015-11-21 20:50] yard opened #73 "Version of NGraphics library in use"
Hi there,

Not a real issue, but rather a question: where does NGraphics.Custom DLLs come from? I have noticed quite a few differences between the assembly in ext_bin of SVG plugin and master branch of https://github.com/praeclarum/NGraphics – would you be so kind to clarify where's the source code for NGraphics.Custom used by this repo?

Regards,
Anton

[2015-11-21 20:56] yard commented on #73
My bad, found your fork :)

[2015-11-21 20:56] #73 closed

[2015-12-23 08:39] heartquake opened #74 "RoundedBoxView 1.0.0.6 is dependant to XF 1.4"
I upgraded XF to 2.0.0.6490 and RoundedBoxView to 1.0.0.6. The plugin works perfect on Droid and iOS however I'm getting the error on WP8 project. The error disappears when I exclude the plugin from WP8.

Error	33	Cannot resolve reference assemblies. Please check the reference assemblies. Cannot resolve dependency to assembly 'Xamarin.Forms.Platform.WP8, Version=1.4.0.0, Culture=neutral, PublicKey

[2015-12-27 09:55] johnm01 opened #75 "compatibility issue perhaps"
Hi Paul - congrats on a useful project - just what I was looking for However - I spent most of yesterday trying to get it to work - hours. There seems to be a compatibility issue. I am working on S2015 and using the latest pre release  2.0.2.6492 of Forms and Maps. -(it is the same with the latest stable) project works fine (simple map display and a pin. I then add from nuget  Xam.plugin.forms ext

[2015-12-27 10:05] johnm01 commented on #75
a further error which might be more of a clue - after reinstalling and updatingn packages for the 6th time I got this
but I get the same message with the latest stable release

Attempting to gather dependencies information for package 'Xamarin.Forms.2.0.1.6492-pre1' with respect to project 'nGar11.Droid', targeting 'MonoAndroid,Version=v6.0'
Attempting to resolve dependencies for package 'Xamarin.

[2015-12-27 10:05] johnm01 commented on #75
sorry didnt mean to close the issue

[2015-12-27 10:05] #75 closed

[2015-12-27 10:15] johnm01 commented on #75
just to show it's not just the latest Xamarin forms
if I select xma forms 1.5 I still get
Unable to resolve dependencies. 'Xamarin.Android.Support.Design 23.1.1' is not compatible with 'Xamarin.Forms 1.5.2.6478-pre3 constraint: Xamarin.Android.Support.Design (= 23.0.1.3)'.
========== Finished ==========

[2016-01-02 19:33] paulpatarinski commented on #74
This is a known issue with win phone projects not respecting the Forms version dependency. I will publish a version of the nuget for Forms 2.0. That should resolve your issue

[2016-01-04 03:06] paulpatarinski commented on #74
1.0.0.7 is out with support for Forms 2.0

https://www.nuget.org/packages/Xam.Plugins.Forms.RoundedBoxView/

enjoy

[2016-01-04 03:06] #74 closed

[2016-01-04 03:07] paulpatarinski commented on #72
@anujb Can you throw a quick project together that demonstrates the issue? It would help speed up the fix

[2016-01-04 03:09] paulpatarinski commented on #70
Can you please re-test with 1.5.0.1?

https://www.nuget.org/packages/Xam.Plugins.Forms.ExtendedMap/

It just got released and it supports Forms 2.0

[2016-01-04 03:15] paulpatarinski commented on #69
@AndrewDPalmer can you please test if you are seeing this with the sample app as well? Also can you please post the source of the svg, so I can try to repro

[2016-01-04 03:20] paulpatarinski commented on #66
@robmpreston @prefectlyspelt Can you please retest with latest in master? I have upgraded to Forms 2.0 and fixed some reference issues

[2016-01-04 03:41] paulpatarinski commented on #61
This is fixed in 1.0.3. It was due to linking in Release mode removing the plugin.
https://www.nuget.org/packages/Xam.Plugins.Forms.KeyboardOverlap/

[2016-01-04 03:41] #61 closed

[2016-01-04 04:30] paulpatarinski commented on #60
This should be fixed in 1.0.0.4

https://www.nuget.org/packages/Xam.Plugins.Forms.KeyboardOverlap/

There is still a slight shift that might happen if you have Quick Type enabled, then you disable and dismiss the keyboard, but that would be harder to fix and I would consider an edge case

[2016-01-04 04:30] #60 closed

[2016-01-04 04:35] paulpatarinski commented on #37
@erikarenhill Try https://www.nuget.org/packages/Xam.Plugins.Forms.Svg/1.0.0.27

thats the latest includes an upgrade to Forms 2.0, maybe it will fix the issue

[2016-01-04 07:46] heartquake commented on #74
Thank you Paul.

[2016-01-04 15:26] prefectlyspelt commented on #66
Thanks Paul, I will test later today.

[2016-01-05 00:09] frijj2k commented on #72
Same problem here...  I will see if I can whip up a quick sample project to demonstrate this tomorrow...

[2016-01-05 02:28] prefectlyspelt commented on #66
Results are still the same with v1.5.0.1 - iOS is missing from ExtendedMap.Forms.Plugins as available from NuGet, but this is available using a version built from the source in GitHub.

<img width="409" alt="sampleapp_github" src="https://cloud.githubusercontent.com/assets/15005254/12106129/acf001b4-b321-11e5-891c-7bfd9806b147.png">
<img width="578" alt="v1 5 0 1_nuget_a" src="https://cloud.github

[2016-01-05 09:51] frijj2k commented on #72
OK, Im using Xamarin Studio 5.10.1 (build 6) with Xamarin.Android 6.0.0.34 and Xamarin.iOS 9.2.1.54.

I create a Xamarin.Forms App (called SvgTest for this test) from the 'Create New Solution' menu, then I create a folder under the SvgTest shared project called 'Images' which contains one SVG called 'github10.svg' that has its Build Action set to 'EmbeddedResource'.

I add your plugin to both Andr

[2016-01-06 12:06] georgeedwards opened #79 "Full Screen SVG"
Does this component have support to scale SVGs to fit the whole screen of a device whilst keeping aspect ratio? Is it possible to set a width and then let the height extend beyond the screen?

[2016-01-06 13:49] georgeedwards opened #80 "Is it possible to post layouts inside RoundedBoxView"
Is it possible to put, say a grid layout inside a Rounded box view? Also, do rounded box views support "auto" as a size parameter?

[2016-01-08 11:02] georgeedwards commented on #80
I suppose an easy way around this would be support for the `Panel.ZIndex="x"` property.

[2016-01-08 18:34] georgeedwards opened #81 "SVG element "style" is not supported"

[2016-01-16 10:05] georgeedwards opened #82 "SVG element "Clicked" attiribute support"
It would be great if SVG elements could be used as buttons and supported the `Clicked` atribute to trigger click actins.

[2016-01-26 08:24] Lukejkw commented on #66
@prefectlyspelt @paulpatarinski I am having the same issue. Did you manage to get around it?

[2016-01-27 15:39] prefectlyspelt commented on #66
The only workaround I have found so far is to build from source rather than use the NuGet version.

[2016-01-28 07:49] Lukejkw commented on #66
@prefectlyspelt Thanks. I also got it working by copying the iOS project locally. Works for playing around.

Have you found a way to add click handlers to the `ExtendedPins` or is this functionality still not implemented?

I like Xamarin.Forms but the lack of a map control with custom pin icons while retaining the click event handler functionality has made it not viable for a couple of projects no

[2016-01-29 14:53] stephenoakman commented on #49
I just had the same problem. For me, the answer was to add height and width to the svg based on this [StackOverflow question](http://stackoverflow.com/questions/34696804/how-to-write-scalable-svg-without-viewbox-parameter). The svg was one grabbed from The Noun Project so was surprised to have to make this change.

[2016-02-01 02:22] adrianknight89 opened #83 "Can't install package into PCL Profile 111"
Hi,

I'm having difficulty installing this into Profile 111. Which profile(s) do you support?

[2016-02-01 02:57] adrianknight89 commented on #83
I tried 259. Same issue.

[2016-02-03 20:42] steevelefort commented on #66
Hi,
For those having the "The type or namespace name iOS does not exist in the namespace ExtendedMap.Forms.Plugin." problem.
You can add a reference to your iOS project and choose the "ExtendedMap.Forms.Plugin.iOS.dll" in the solution "Packages" folders.

[2016-02-05 18:06] prefectlyspelt commented on #66
<img width="609" alt="screen shot 2016-02-05 at 11 59 12 am" src="https://cloud.githubusercontent.com/assets/15005254/12854571/086b6ca8-cc00-11e5-949c-7a657f2561be.png">

How do we add this reference? Do we need to do it by manually editing the references?

In Xamarin.Studio ExtendedMap.Forms.Plugin.iOS is not available under Edit References. Browsing for it in the packages folder _only_ shows the

[2016-02-08 15:16] steevelefort commented on #66
Yes I had to add the reference manually.
Then all works well for me.

[2016-02-12 01:35] EmilAlipiev commented on #83
Could you find a solution for this? or simply it doesnt support?

[2016-02-12 23:09] EmilAlipiev commented on #83
Problem looks like with windows phone 8.1 project. if you remove it in the target list, you can add it.

[2016-02-14 23:55] EmilAlipiev opened #84 "is is possible to reassign SvgPath?"
After the page is loaded, I try to change SvgPath with a button click but it will not reload to another svg image? is it even possible?

[2016-02-15 08:49] sreerajPR opened #85 "KeyboardOverlap scrolls up full page in WebView"
When a keyboard is invoked by HTML in UIWebView the whole page scrolls up. This is basically because the widget that invoked the keyboard was UIWebView. UIWebView handles it automatically. Plugin may ignore invokes by UIWebView

Fix :
FindFirstResponder method in ViewExtensions class can be modified to return null if the widget that invoked Keyboard is a UIWebView
public static class ViewExtension

[2016-02-22 15:55] allenmoatallen commented on #44
Is there any update on this? We have now run into the same use case.

[2016-02-23 13:54] iitr-ankur opened #86 "KeyboardOverlap Plugin doesn't work in case the page contains a Listview."
My scenario is a Chat Page:

ListView for messages (display only, no entry control).
StackLayout with horizontal orientation containing an Entry for text message and Send Button.

The Keyboard messes up the view on sending a message.

[2016-02-24 19:43] nicky112 commented on #72
Not sure if still relevant but you need to set the build action of your svg file to "embedded resource".

[2016-02-25 09:37] frijj2k commented on #72
Thanks for the advice but I have already set the build type to embedded resource so it must be something else.

[2016-02-25 16:08] nicky112 commented on #72
I came across your comment just because I had the same problem. And from your exception message I read to do so and it worked for me. Did you find another way around it or do you need an example?

[2016-02-25 19:39] frijj2k commented on #72
In the end I used a different library that allowed the use of Font Awesome and Material Icons etc. Suited my needs but I would like to get to the bottom of the SVG problem so a working example would be very much appreciated if you don't mind?

Thanks!

[2016-02-28 13:36] nicky112 commented on #72
I've just set up a simple project displaying one image but I am not sure how to share it with you :) I could upload the whole solution and send you the link by mail?

[2016-02-28 23:56] nicky112 commented on #79
I would be interested in that too. From what I have learned about it you will need to calculate that by yourself. I am doing this right now but I would love to hear about an "auto" value for width and height.

[2016-02-28 23:58] nicky112 commented on #69
I am experiencing the same. Takes twice the time to render with SVGs included. My test setup was 12 tiles each with a different SVG.

[2016-02-29 00:04] nicky112 commented on #82
You can use SVG elements as "Buttons". At least you can add a tap listener for example.

`     <abstractions:SvgImage Grid.Row="1" Grid.Column="1" SvgAssembly="{Binding SvgAssembly}" SvgPath="Core.Images.PreviousButton.svg" HeightRequest="150" WidthRequest="150" >
        <abstractions:SvgImage.GestureRecognizers>
          <TapGestureRecognizer Command="{Binding PlayPreviousSongCommand}"></TapGes

[2016-02-29 00:08] nicky112 commented on #84
Re-Assigning does not work for me either.

[2016-02-29 00:14] nicky112 opened #87 "Suggestions on setting the size to auto or at least keep the ratio?"
Hello,

first of all I really appreciate this plugin. Right now I am calculating the settings the width and height

[2016-03-01 01:59] AndrewDPalmer commented on #69
Hi @paulpatarinski I apologize I hadn't seen your message until now.  I actually haven't been using SVGImage in months.  The slowdown prevented us from using it as a primary option.  I'll try to repro again within the next few days because I'd love to use your plugin if its an option.

[2016-03-01 21:18] JoshuaNovak919 opened #88 "SVGs don't handle scaling properly"
I've been trying to add an SVG as a border in one of my apps. In trying to do so I realized that this plugin doesn't seem to handle scaling properly. On iOS it preserves the aspect ratio. On Android it scales the SVG, but leaves some space. I've put a link to a sample project below that just shows a simple rectangle SVG and how it is very different on both iOS and Android. It also shows that when

[2016-03-04 17:49] lassana opened #89 "stroke-dasharray is ignored"
It looks like `stroke-dasharray` attribute is always being ignored.
[A test SVG file](https://drive.google.com/file/d/0B46d_av0CyFsSTYtVUxVZHJJUUk/view).
How it's displayed in Firefox:
![](https://i.imgur.com/cBNPXwT.png)
How it's displayed via the library (iOS 9.1, Xam.Plugins.Forms.Svg 1.0.0.27):
![](https://i.imgur.com/nF2Q4C0.png)

Same problem on Android.

[2016-03-15 20:47] rudyryk commented on #82
Semantically SVG is image, so I believe `SvgImage` class should provide image related interface only. I usually create a custom `ImageButton` class in my project which contains several subviews: 1. transparent button for hitzone 2. image for button 3. tap animation effect

[2016-03-17 09:26] escamoteur opened #90 "Any plans for a UWP Version of SvgImage"
Hi,

I'm just now looking for a solution that will offer SVG support for IOs, Android and UWP.

Any plans that this will be implemented in the next future?
Best
Thomas

[2016-03-24 09:25] VincentVanWijk opened #91 "Cant install package"
when i try to add the nuget pakage in Xamarin Studio, it gives this error:

Could not install package 'Xam.Plugins.Forms.KeyboardOverlap 1.0.0.4'. You are trying to install this package into a project that targets 'portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10', but the package does not contain any assembly references or content files that are compatible with that framework. For m

[2016-04-01 10:43] xinmeng1 commented on #72
+1

[2016-04-01 11:23] xinmeng1 commented on #72
I solve my problem which is the reason for this exception maybe(not sure), need set the svg image resource to Embedded Resource (for build action), in VS2015, this is set in the Property.
![Image of Yaktocat](http://i.imgur.com/IwPIuVT.png)

[2016-04-01 11:31] xinmeng1 commented on #72
Actually, I found this problem base on this https://developer.xamarin.com/guides/ios/application_fundamentals/working_with_resources/

which tell us that the resource files should be put into the folder of project. Set it to Embedded Resource which means that put this files embed into the device~

[2016-04-04 04:37] Harikrishnav21 opened #92 "After keyboard Appears scrollview moving up with some y position change,but it is not coming down same amount of y position change.how to resolve this in xamarin forms"
Hi All,

I am using the this package to solve key board hiding the entries issue,but I ran to another issue that is view is not coming back to initial position where it was before the keyboard appears.FYI,same thing happens by default in Xamarin Forms with entries in the scrollview.

Any help is good,Thanks in advance.

Harikrishna.

[2016-04-04 04:53] #92 closed

[2016-04-04 04:54] Harikrishnav21 commented on #92
Need to check again.

[2016-04-05 12:15] gmenezesg commented on #72
I had the same issue and in my case I've found out that I had to set the BindingContext to the ViewModel in the xaml.cs page file (code behind). Setting it in the xaml the error rises.

[2016-04-06 02:52] daveclarke opened #93 "SVG's cannot use short form Fill"
A large proportion of the SVG files I'm using had Path definitions with shortened Fill value e.g. "#f00". This was generating a `System.NotSupportedException`. Changing "#f00" to "#ff0000" resolves the issue but would be good to support the short form.

[2016-04-13 12:56] xinmeng1 commented on #84
+ it doesn't work for data binding too

[2016-04-28 13:50] kocka5 commented on #91
another error:
Could not install package 'Xam.Plugins.Forms.Svg 1.0.0.27'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.			0

[2016-04-28 19:33] adrianknight89 commented on #91
I think you need to remove wp80 though I'm not sure.

[2016-04-28 22:16] adrianknight89 opened #94 "System.MethodAccessException: Method `System.Xml.XmlReader:get_DtdInfo ()' is inaccessible"
I'm getting this issue on Android M.

[code]

[2016-04-28 22:47] adrianknight89 commented on #94
Here's more info. This time it says element line is not supported.

[code]

[2016-04-28 22:48] adrianknight89 commented on #94
I also had a notsupported exception for polygon. Not sure how usable this library is :(

[2016-05-02 16:32] Emixam23 opened #95 "Last commit ever?"
Hi dude :)

I would like to take your NuGet package which seems really helpful, but I was asking me if you would be able to continue your project or fixes bug if anyone comes up?
I also saw that raphaelrmou wanted to work with you and then I don't know which package to choose, either your or its :/

Regard !

[2016-05-02 20:24] paulpatarinski commented on #95
Hey

Help is always welcome. Which Nuget package are you referring to? Also can you point me to raphaelrmou's message?

[2016-05-02 23:44] Emixam23 commented on #95
https://forums.xamarin.com/discussion/46271/better-map-control-coming-soon

Xamarin.Forms.Plugins/ExtendedMap

Nice ! :)
Because I need to draw path on map et put pin, I work on it from 2 weeks ago and nothing works.. I can't install your package as well..

[2016-05-03 14:30] Firlefanz opened #96 "Problem using my own SVG files"
Hello,

thanks a lot for your library! :-)
I got my xamarin android and iOS Project working with your library using your tiger svg file.

But when I use one of my own files (which work perfect in other apps) I always get this error:

05-03 16:21:34.035 E/mono-rt (25651): ---> (Inner Exception #0) System.NotSupportedException: SVG element "linearGradient" is not supported

Is there something I can

[2016-05-04 11:05] Firlefanz commented on #96
...and when I try to use the official "Material Design Icons" from Google I do not see them at all. No error, but not showing. Just Switches the tiger in my Project toone of those, and cannot see it. Thanks!

[2016-05-10 12:17] adrianhurt opened #97 "SVG - render directly from a string"
Hi, I was wondering if it would be possible to render a SVG directly from a string instead of a file. In my case, I would like to render a very simple SVG but with a path that can vary a bit depending of a variable of my code. So it will be perfect if I could generate the SVG code and render it.

Thanks for the plugin!

[2016-05-10 13:56] Firlefanz opened #98 "Using SVG but with a shared project not portable"
Hello,

thanks a lot for this library!

I have a shared xamarin Project, which contains my gui.
When I add the Icons to this shared Project (as embedded resource), it does not seem to work.

Then I tried to add them to the iOS Project as embedded resource or as bundle resource, does also not seem to work.

Can you please give an advice how to do this for a shared xamarin Project not a portable?

T

[2016-05-17 09:36] Firlefanz commented on #98
I found out how it works, thanks.

[2016-05-18 08:04] Firlefanz commented on #94
I have the same Problem with the get_DtdInfo ()' is inaccessible, but only sometimes when I start on Android, not always.

[2016-05-20 14:35] eventgenius commented on #83
Are there any plans to provide support for profile 111? The windows phone 8.1 project is really required in this case. Alterntively does anyone know of an alternative for a rounded `BoxView` with a border?

[2016-06-01 07:28] Gigex42 opened #99 "KeyboardOverlap - Issue with multiple Entries"
I'm having a problem with the KeyboardOverlap Plugin.
I have multiple Entries within a stacklayout. When I focus the last entry and directly switch to another entry above with the keyboard still open, the page does not add the additional space to the padding. Means when I close the keyboard, the complete page moved downwards.

Hope this is clear :smile:

[2016-06-01 07:43] Gigex42 commented on #99
Seems I found the reason. The Problem is the quicktype (Word suggesions) which takes the space.
Changed the keyboard type to Email and it works now.

[2016-06-01 07:43] #99 closed

[2016-06-01 13:04] zippo227 commented on #96
So is the issue that the default fill should be a different color, or should this issue now be closed?

[2016-06-01 13:09] zippo227 commented on #82
@nicky112  Here is some example code from my project that allows you to click an SVGImage.

[code]

[2016-06-01 13:18] Firlefanz commented on #96
Thanks a lot for your library, I am still using it.

What is the Default Fill? Is it White?

That's good for Android Default, and bad for iOS Default.
Or is it a System Color, then this would be okay.

I still cannot use all SVG Files. Like descriped in the first Topic. But this is a minor Problem.

When starting the App on Android I sometimes get the Errors from here, in my eyes this is the bigge

[2016-06-01 13:41] paulpatarinski commented on #94
Can either of you upload a sample project demonstrating  the issue?

[2016-06-01 13:58] zippo227 commented on #96
Just for the record, I'm not the project maintainer. As far as I can tell, the default is transparent as you say. I'm working on an extension that allows me to change the color of the image to whatever I want. I haven't seen that error yet on Android. Here is how I am specifying the color at runtime for my images.

	namespace Consortya
	{
		public class CFImage : SvgImage
		{
			public CFImage()

[2016-06-01 13:58] zippo227 commented on #96
I also have had problems with some SVGImages. I read about some of the SVG properties on Wikipedia and made my own SVG manually. I copied the path and made a header that worked for what I needed. Here's an example that works for me. My SVG was upside down which is why I add to add the transform function calls.

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" vers

[2016-06-06 07:14] x4vl commented on #72
Even setting build action to embedded resource you have to write the resource ID "SvgTest.Images.github10.svg" in the properties pad as specified [here](https://developer.xamarin.com/guides/xamarin-forms/working-with/images/#Embedded_Images)

Now I'm getting the error "Invalid parameters to context creation" in iOS and "width and height must be > 0" in android.

[2016-06-12 19:58] CNIAngel commented on #98
@Firlefanz Care to enlighten everyone? lol

[2016-06-17 07:55] Firlefanz commented on #98
I added an additional Project used only for resources.
I added my svg Images there as "embedded resource" each.

Then using them in xaml just with full path imcluding the new Projects new works great.

Still have somtimes Problems starting with Android now. Some bugfix update would be great.

[2016-06-17 17:24] swansca79 commented on #86
I've also come across this bug.  Specifically, I'm using the text changed event to change the send image source when no text is present (to a grayed out icon).  This was causing some funky behavior with this plugin.

A good work around is just changing the opacity of the image instead, 1 when text is entered, 0.2 when no text is there, and the plugin works as desired.

[2016-06-18 00:22] CNIAngel commented on #72
Ok I've been having a go at this for a few days now and I have no clue why I can't get this to work. I made a completely new Shared project, installed the NuGet package, and just added a SvgImage to the generated main content page and my app is crashing after launch.

I thought it might have been the svg files I made so I grabbed the ones from the SampleApp and it's still breaking.

I've tried put

[2016-07-08 14:11] danielbarrosamorim commented on #37
I have the same problem. It works well on simulator but is not working on iPhone 5C. Does anyone have a workaround?
Thank you.

[2016-07-12 10:33] tomcrusader commented on #90
Project alive? I'm looking for this too

[2016-07-16 18:47] eksteinmichael opened #100 "change background color, change the shape to rectangle"
I install your control and it works fine, till.....
when I set the background color it changes the shape from circle to rectange

in XAML:
          <abstractions:RoundedBoxView x:Name="lblPositiveIcon" BackgroundColor="#9b1cf9" VerticalOptions="Center"  HeightRequest="10" WidthRequest="10"  BorderColor="#9b1cf9" CornerRadius="10" BorderThickness="0"  />

in code:
lblPositiveIcon.BackgroundColor =

[2016-07-21 16:32] ChaseFlorell opened #101 "Exporting Forms types causes collisions"
Looking at the code [here](https://github.com/paulpatarinski/Xamarin.Forms.Plugins/blob/40f892fc868b540fd02cef34c2bd216fa166a6a1/KeyboardOverlap/KeyboardOverlap/KeyboardOverlap.Forms.Plugin.iOSUnified/KeyboardOverlapRenderer.cs#L10) we can see that you're exporting `Page` instead of your own custom page.

This is considered bad practice by Xamarin, and all custom renderers should have their own as

[2016-07-22 06:37] Firlefanz commented on #94
Hello,

I can tell exactly where it happens:

Only on Android, and in SVGImageRenderer exactly here:

reader = new SvgReader(new StreamReader(svgStream), new StylesParser(new ValuesParser()), new ValuesParser());

And only sometimes, but driving me nuts.

I tried something like this, because I thought loading the assembly might come in too late sometimes:

`                        try

[2016-07-22 07:44] Firlefanz commented on #94
System.MethodAccessException: Method `System.Xml.XmlReader:get_DtdInfo ()' is inaccessible from method `System.Xml.Linq.XContainer:ReadContentFrom (System.Xml.XmlReader,System.Xml.Linq.LoadOptions)'

[2016-07-22 14:59] ChaseFlorell commented on #101
note: this would be a breaking change for all existing users.

[2016-07-23 16:48] cuddlecheek opened #102 "Change the source of the image"
I need to change the image, so I tried

- binding in xaml:
`SvgPath="{Binding CurrentWeather.IconSource, StringFormat='Umbrella.Images.{0:F0}.svg'}"`

- or to change it directly from C#:
`icon.SvgPath = "Umbrella.Images." + currentWeather.IconSource + ".svg";`

The SvgPath attribute does change, but the image doesn't rerender.

Is there any workaround?

[2016-07-27 14:42] toverux commented on #102
I had the same problem. I ended up re-creating entirely the SvgImage in the codebehind when the source changes, and assigning it in a container (defined in XAML).

[2016-07-31 19:45] cuddlecheek commented on #102
Well, I ended up doing the same, it's the easiest workaround, but the binding would be much cleaner.

[2016-08-04 13:59] draugas opened #103 "KeyboardOverlap TabbedPage bug"
TabbedPage:

![1](https://cloud.githubusercontent.com/assets/2833953/17404426/3ee371a2-5a64-11e6-8998-ee710e6f63cb.PNG)

white space (it seems tab height) appears:

![2](https://cloud.githubusercontent.com/assets/2833953/17404427/3eea8d8e-5a64-11e6-85f5-f2cb28200851.PNG)

[2016-08-11 10:16] cuddlecheek opened #104 "SVGImage in Listview with CachingStrategy="RecycleElement""
In the [documentation about listview performance](https://developer.xamarin.com/guides/xamarin-forms/user-interface/listview/performance/ ):  it is said to use CachingStrategy attribute for a listview to improve performance. However, a SvgImage with SvgPath binding in such listview is buggy, it just renders wrong images - when I scroll to and unscroll from one item, it always renders different ima

[2016-08-12 14:58] SeeD-Seifer commented on #81
@georgeedwards have you found a solution? I have the same issue.

[2016-08-13 02:10] Hoangphuvan commented on #83
I have tried to the instruction but the problem still occurs. Does anyone help?

[2016-08-14 16:43] joilson-cisne commented on #69
Hello @paulpatarinski. I am also experiencing a very slow rendering. I try to run the sampleApp but I've got some errors. Do you have any thought on that? Thanks

[2016-08-24 20:16] joilson-cisne commented on #96
The same is happening in my project: some times (not always) I get a error when try to render my SVG images.

And thanks @zippo227 for sharing that piece of code for specifying the color at runtime.

[2016-08-24 20:40] zippo227 commented on #96
It will usually say which element in the svg it does not like. There are some elements added when I export an svg from sketch that it doesn't like. I've been deleting the element (such as version number) to fix the error.

[2016-08-31 06:22] micuentadecasa opened #105 "View.FindFirstResponder() not in previous versions of Xamarin.Forms"
Hi, I'm using Xamarin.Forms 1.3 and trying to compile your code it can not find  View.FindFirstResponder(), what do you used in previous versions?

[2016-08-31 06:28] micuentadecasa commented on #105
Hi, I have found that FindFirstResponder is an extension method that you have in your extensions folder, you can close this issue. Thanks.

[2016-09-10 00:20] Emasoft commented on #62
It seems that ToolbarItems passes the string to an instance of **Xamarin.Forms.FileImageSource**. Can we extend **Xamarin.Forms.FileImageSource** to include SVG files?

[2016-09-10 00:23] Emasoft opened #106 "Extending Xamarin.Forms.FileImageSource to accepting SVG files"
Many components of Xamarin.Forms uses **FileImageSource** as a parameter for icons.
For example **ToolbarItems** passes the string to an instance of **Xamarin.Forms.FileImageSource**.
Can we extend **Xamarin.Forms.FileImageSource** to accept SVG files?

[2016-09-13 15:27] joilson-cisne commented on #96
I have deleted for example the element <desc>. It does not like it either.

[2016-09-15 00:47] OpticNectar opened #107 "Does not work with Profile111"
When I try to add this to a project using Profile 111 (what Xlabs requires) it does not work. Most plugins already work with this, could you please update it.

The error I receive:
[code]

[2016-09-15 20:25] bodow commented on #107
Similar case here:

`Could not install package 'Xam.Plugins.Forms.RoundedBoxView 1.0.0.7'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.`

What should I do?

[2016-09-16 06:37] hieumoscow commented on #107
any news on this?

[2016-09-17 19:14] valdetero commented on #94
I'm getting this error too.

[2016-09-22 15:54] oddbear commented on #100
This one is interesting. It seems to work if I skip the base call:
[code]

[2016-09-22 16:15] oddbear commented on #100
I checked the Xamarin.Forms sourcecode.

https://github.com/xamarin/Xamarin.Forms/blob/ab0daa194734be0e45d8582e9254c447b464b27f/Xamarin.Forms.Platform.Android/VisualElementRenderer.cs

Here you can se the problem:
[code]

By overriding the the UpdateBackgroundColor with a empty body:
[code]
You can fix this problem... Or... Use code example above with not calling base.OnElementPropertyChanged at a

[2016-09-23 13:37] gtbuchanan commented on #106
`FileImageSource` is marked as `sealed`. Xamarin pretty much just converts it to a `string` internally to reference the file path directly on each platform anyway, so a custom control (for SvgAssembly property, etc) and renderer for each Xamarin type using `FileImageSource` would still need to be created. I'm sure using SVG with other controls is doable, though, as I've done a similar thing with i

[2016-09-23 13:40] Emasoft commented on #106
We are discussing a Pull Request in the Xamarin.Forms forum, can you help us write a patch?
https://forums.xamarin.com/discussion/comment/220753

[2016-09-23 13:45] gtbuchanan commented on #102
Another workaround is to implement the missing logic in a custom renderer, [as described here][0]:
### iOS Example
[code]
[0]: http://stackoverflow.com/a/38549836/1409101

[2016-09-23 15:00] toverux commented on #102
Yes, finally I dropped this library because it embeds an old version of NGraphics (the SVG parser and renderer). Basically copy-pasted the renderers of this lib and fixed them...

[2016-09-23 16:18] aunanue commented on #100
Hi @paulpatarinski do you know when could be a new package with this fix? I'm facing the same problem. I'm using the rounded box view with rounder corners and it changes back to squared after changing the background color.

[2016-09-29 14:27] keflip commented on #90
Hi guys,
don't know if your issue is actual, but there is a solution for the UWP Project.
You only have to add the SvgImageRenderer .cs to your UWP Project then the code runs fine.

[2016-09-29 14:59] tomcrusader commented on #90
That might fix it @keflip, but the problem is that SVG still renders badly; shapes come out wrong and not all SVG shapes are supported. Hoping Xamarin/MS will provide proper support eventually

[2016-10-04 16:10] MichaelRumpler opened #109 "KeyboardOverlap with Editor"
I have an Editor with Height="300" near the top of a page. When the user taps the first row, then the whole Editor is moved up as far as the keyboard is high. Unfortunately the edited text is then not visible anymore.

This can easily be reproduced in the SampleApp if you remove the StackLayout from KeyboardOverlap\SampleApp\SampleApp\Pages\MultiLineText.xaml. Then the Editor occupies the whole pa

[2016-10-05 21:38] adamhill commented on #107
I would like an update on Profile 111 support too. Do we just need to upgrade the project with the latest version of Forms and retarget the framework they use?

[2016-10-06 21:00] rroman81 commented on #107
I had to pull in the source, update the Forms, and then profile itself.  What's the protocol to submit pull request here?

[2016-10-06 22:24] adamhill commented on #107
Woot!

On Thu, Oct 6, 2016 at 4:00 PM, Roman Rozinov <notifications@github.com>
wrote:

[2016-10-11 12:41] rmcfarlane82 commented on #107
I had to remove windows 8.1 from the PCL Library Targets

[2016-10-13 16:07] codercampos opened #111 "Can't install RoundedBoxView package on Profile259"
Using Xamarin.Forms with Profile 259 does not let me install this package. There is a reason of this or this is not going to be available on this profile.

Regards

[2016-10-13 19:17] roninua opened #112 "RoundedBoxViev change BackgroundColor on TapGesture (Andoind bug)"
I set on tap change  _myRBVname.BackgroundColor = Color.FromHex("#FF0000");_
And my RoundedBox BG set red background with no rounded border, but in iOS - CornerBorder is still rounded.

EX: i have blue backround rounded box (corner=50) circle.
on tap - i want change background to red.
When i tap - round transforming to square with red background.
This is on Android, but in iOS simulator - circle n

[2016-10-14 13:07] oddbear commented on #112
Dublicate from https://github.com/paulpatarinski/Xamarin.Forms.Plugins/issues/100 ?
In that case, pending solution in PR https://github.com/paulpatarinski/Xamarin.Forms.Plugins/pull/108

[2016-10-14 13:23] oddbear commented on #100
Just write your own controller, with a renderer. :)

Or you could hack something up, like having two controllers inside and switching with triggers or similar. But I would really not go there.

[2016-10-15 06:49] #112 closed

[2016-10-17 12:31] aunanue commented on #100
:( this makes the component useless for my.
I'll look for another component then, thanks for the feedback.

[2016-10-19 01:27] BrainSlugs83 opened #113 "Doesn't actually work with Xamarin.Forms."
With a blank `Xamarin.Forms Portable` project (updating Xamarin.Forms to latest package), and you try to install the `Xam.Plugins.Forms.Svg` NuGet package, it will fail with the following message:

[2016-10-24 11:26] kanvuduc commented on #100
Is it fixed? I faced it also.

[2016-10-29 13:56] paulpatarinski commented on #42
Closing due to inactivity

[2016-10-29 13:56] #42 closed

[2016-11-01 22:35] HectorMeneses333 commented on #85
Hi sreerajPR,

I also found that if the first responder is a children of a UIWebView or a WKWebView that the FindFirstReponder method should return null. Hope this helps somebody...

public static UIView FindFirstResponder (this UIView view)
{
            if (view.IsFirstResponder)
            {
                var superView = view;

                while (superView != null)
                {

[2016-11-02 14:45] vbisbest opened #114 "Doesnt work"
Simple enough, doesnt work.

[2016-11-06 11:30] L4rS6 commented on #44
Same problem here, any updates on this?

[2016-11-07 09:52] mannyvw opened #115 "What version of SVG does this library support ?"
Hi

Hopefully this will be a great library if it can get it to work.

Attempted to load a few sample svg's into forms app created in sketch and it wouldn't load them.

<Desc> tag was first one it complained about, so I removed it, next was <mask> so removed that, now it complains about <polygon>, mmmm there wont be much left soon.

It might help if I knew what version of SVG this library supports,

[2016-11-12 09:12] mhashimm commented on #107
Is there any progress on this front.

[2016-11-15 10:06] oddbear commented on #100
My PL is still pending. However, have you tried the [Xamarin Forms themes](https://github.com/xamarin/xamarin-forms-samples/tree/master/Themes/ThemesDemo)?
This might be the solution if nothing happens with this PL.

[2016-11-16 12:28] aunanue commented on #100
Haven't tried that, I will take a look and let you know.
I sent a few messages to @paulpatarinski asking for the merge of this PL but no answer yet.
It's quite frustrating the lack of support for XF in general.

[2016-11-17 10:27] mannyvw commented on #88
Have crated a PR for this https://github.com/paulpatarinski/Xamarin.Forms.Plugins/pull/116 hopefully Paul will merge soon in mean time am using local nuget package.

[2016-11-22 22:04] toverux commented on #102
A little update for those that are interested in a better SVG renderer, I improved the original **Android** renderer (coming from this library) and now I'm handling :
 - SvgImage auto-sizing without `WidthRequest` or `HeightRequest` (but only if you have `width="x"` & `height="x"` SVG attributes set).
 - Changing the SvgPath re-renders the bitmap (and re-calculates the element size)
 - Handles Xam

[2016-11-22 22:13] toverux commented on #115
This library uses [NGraphics](https://github.com/praeclarum/NGraphics) to parse and render SVGs. It's a neat, although very limited library that does not states clearly what SVG profile it supports.

Since this project is dead (or dying), I would recommend you to write your own renderer and adding a recent version of NGraphics via NuGet. The version bundled with this library is pretty old and I've

[2016-12-12 10:46] ZyshchykMaksim commented on #100
Hi, @oddbear. Thanks for the tip.
I managed to solve the problem by updating the property **CornerRadius**

`public override void SetBackgroundColor(Android.Graphics.Color color)
        {
            //HACK Update radius element
            double radiusEl = Element.CornerRadius;
            Element.CornerRadius = radiusEl;
        }`

[2016-12-12 20:03] L4rS6 commented on #109
I run into the same problem. Is there any solution available for this problem?

[2016-12-21 22:33] yshteinm opened #118 "Cannot install plugin to PCL"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'Xam.Plugins.Forms.Svg 1.0.0.27'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package

[2016-12-28 16:27] rodja commented on #88
Thanks @mannyvw for creating the PR. @paulpatarinski, could you release a new NuGet Package with this fix soon? Currently all SVG images are not preserving there aspect ratio on Android.

[2016-12-28 16:36] rodja commented on #88
Oh, I have found a solution for my aspect ratio problem on Android. Just set HorizontalOptions and VerticalOptions to Center:

            new SvgImage {
                SvgAssembly = typeof(App).GetTypeInfo().Assembly,
                SvgPath = "logo.svg",
                WidthRequest = 178,
                HeightRequest = 22,
                HorizontalOptions = LayoutOptions.Center,

[2017-01-10 14:43] BenDevelopment commented on #118
Same problem here

[2017-01-10 18:16] ant81584 commented on #107
Same issue here, any update when this will be fixed?

[2017-01-11 13:01] kdawg1406 commented on #118
Same problem here

[2017-01-16 14:13] escamoteur commented on #100
I just hit the same problem. @ZyshchykMaksim die you derive your own control from RoundedBoxView or how did you override it?
And how doe you then set the BackgroundColor?

[2017-01-16 15:07] ZyshchykMaksim commented on #100
Hi, @escamoteur. I copied the code of the control in my project and made changes. [Link](https://github.com/ZyshchykMaksim/xamarin-exemples/blob/master/WorkSphere/WorkSphere.Droid/Controls/RoundedBoxViewRenderer.cs)

Set the BackgroundColor:

         <controls:RoundedBoxView Margin="10,0,0,0"  CornerRadius="50" WidthRequest="20"  HeightRequest="20" VerticalOptions="Center" >
            <controls

[2017-01-16 15:09] escamoteur commented on #100
Thanks, what I don't understand is how you set the BackgroundColor when you override it and you don't seen to set the color in your overriden method

[2017-01-16 15:18] ZyshchykMaksim commented on #100
@escamoteur I was surprised too, but it works for me.

[2017-01-16 15:41] oddbear commented on #100
It's a strange design, check the extension methods to the renderer (if I remember correctly):
https://github.com/paulpatarinski/Xamarin.Forms.Plugins/blob/master/RoundedBoxView/RoundedBoxView/RoundedBoxView.Forms.Plugin.Android/ExtensionMethods/ViewExtensions.cs

[code]

[2017-01-18 20:15] rupe120 opened #119 "Width and height must be > 0"
I'm trying to get a simple example of an arrow in a list view, but I keep receiving the exception:

    Java.Lang.IllegalArgumentException: width and height must be > 0

[2017-01-20 11:16] ChrisRyuGS commented on #118
I have same problem also.
PCL projects only.

[2017-01-22 22:23] StenPetrov commented on #119
I think the SvgReader only understands sizes if they are in "px" - open the SVG in a text editor and check the properties on the root <svg> element

[2017-01-26 12:33] riandesign commented on #113
Same thing here. Is it out of date?

[2017-01-26 12:35] riandesign commented on #118
@kdawg1406 , but did you install it in PCL? How did you get it work?

[2017-01-26 13:50] riandesign opened #120 "Text inside box"
Is it possible to put text inside a box?

[2017-01-26 16:06] kdawg1406 commented on #118
@riandesign I was able to download the repro, the update, build, and run the SVG project on iOS and Android. No issues at all. Targets all the latest **Xamarin Forms** NuGet packages and .NET 4.5

Yes, I have a PCL, Xamarin Forms app.  Works great.

[2017-01-27 09:14] zmayac commented on #119
I have the same issue, px unit is present at x and y parameter so that is not the case.

[2017-01-27 20:06] StenPetrov commented on #119
Can you share the svg? I can take a look at the issue tonight, I'm troubleshooting the library anyway

Sent from my iPhone

[2017-01-27 20:32] zmayac commented on #119
<a href='http://svgshare.com/s/a0' ><img src='http://svgshare.com/i/a0.svg' title='user01' /></a>

[2017-01-27 20:34] zmayac commented on #119
Originally x and y were set to 0px, here i changed it to 40px, no difference.

[2017-01-27 23:34] StenPetrov commented on #119
In the SVG attached there are no `width` and `height` tags
Try this:
[code]

[2017-01-29 15:14] zmayac commented on #119
Now i get blank image, no exception but image doesen't render.

[2017-02-02 19:42] cd155 commented on #109
I have the sample problem, hope there is a solution for it.

[2017-02-05 02:31] ChrisRyuGS commented on #118
@kdawg1406, Have you installed 1.0.0.27?
I think current version not compatible with Xamarin.Forms (2.3.x)

Install failed. Rolling back...
Package 'Xam.Plugins.Forms.Svg.1.0.0.27 : Xamarin.Forms [2.0.0.6490, )' does not exist in project '...'

[2017-02-06 20:47] pangia commented on #107
Same issue here, any update when this will be fixed?

[2017-02-06 23:50] rmcfarlane82 commented on #107
I just target .netstandard in the pcl and use project.json

[2017-02-08 12:51] diasnicolas commented on #119
Any solution?

[2017-02-10 11:20] mannyvw commented on #94
@adrianknight89 did you ever find a solution to this i'm having same issue

thanks

[2017-02-10 11:37] L4rS6 commented on #118
Same problem here with version 1.0.0.27 and XF version 2.3.3.193:
`Package 'Xam.Plugins.Forms.Svg.1.0.0.27 : Xamarin.Forms [2.0.0.6490, )' does not exist in project xyz`

[2017-02-10 11:40] L4rS6 commented on #118
I solved it by setting an other Profile. Open options --> Build: General and select a different Profile (I selected PCL 4.5 - Profile49). Now you can install the pkg.

[2017-02-20 13:18] dardino opened #122 "Xam.Plugin.Forms.Svg SvgImage source as stream or XDocument?"
There is a way to set an SvgImage's source to a MemoryStream or a Text Stream (svg is a plain xml text) or a XDocument?

Thanks
Gabriele

[2017-02-21 09:14] kallotec commented on #94
I kept getting the 'Method `System.Xml.XmlReader:get_DtdInfo ()' is inaccessible' exception randomly until I removed all the extra cruft in the doctype and xmlns that gfx editors tend to put in there.

When my app was randomly crashing, the top of my SVG files looked like this..

[code]

But I trimmed out anything unnecessary looking until I got...

[code]

And the random crashes went away.

[2017-02-21 09:28] kallotec commented on #94
I've described a potential fix here:

http://stackoverflow.com/questions/41586580/mono-xamarin-error-loading-svg-images-system-methodaccessexception/42363385#42363385

[2017-02-23 11:05] kikolopes90 commented on #111
same here

[2017-02-23 11:06] kikolopes90 commented on #111
same here

[2017-02-23 11:34] kikolopes90 commented on #118
Same problem here

[2017-02-24 14:49] kikolopes90 commented on #118
I already solved this problem! 👍

https://forums.xamarin.com/discussion/84642/cannot-remove-windows-phone-silverlight-in-visual-studio#latest

[2017-02-24 14:50] kikolopes90 commented on #111
I already solved this problem! 👍

https://forums.xamarin.com/discussion/84642/cannot-remove-windows-phone-silverlight-in-visual-studio#latest

[2017-02-26 20:58] codercampos commented on #111
Thank you! Also, you can modify your project by doing Right Click > Options(Properties) on Xamarin Studio (Visual Studio for Mac) and in the General Tab change your profile.

Thanks @kikolopes90 for your solution also. Supporting  Profile 259 is to keep compatibility with the default Xamarin Forms XAML Pages template

[2017-02-26 21:01] codercampos commented on #111
#123

[2017-02-26 21:02] codercampos commented on #111
#123 Here is a pull request for this so there is no reason to keep this issue open

[2017-02-26 21:02] #111 closed

[2017-02-27 08:54] wiesnery commented on #118
So on which profile did you set it? And will it have any consequences?

[2017-02-27 10:52] kikolopes90 commented on #118
For example, "Profile259" to "Profile78" and install nuget, then you can change back to "Profile259"

[2017-03-03 06:26] OmerObaid123 opened #124 "This nuget seems to be working when i have editor at the end of the screen and auto correct is turn off in the iOS."

[2017-03-03 06:26] OmerObaid123 opened #125 "This nuget seems to be working when i have editor at the end of the screen and auto correct is turned off in the iOS."

[2017-03-03 06:27] OmerObaid123 opened #126 "This nugget seems to be working when i have editor at the end of the screen and auto correct is turned off in the iOS."
This nugget

[2017-03-03 06:28] OmerObaid123 opened #127 "This nugget seems to be working when I have an editor at the end of the screen and auto correct is turned off in the iOS."
This nugget does not work if auto correct is turned ON. Auto correct will cover the entry or the editor. Any idea how to fix?

[2017-03-03 20:40] GerryOnGithub commented on #107
How do you target .netstandard and use in project.json?

[2017-03-04 01:23] rmcfarlane82 commented on #107
@GerryOnGithub have a look at this link https://xamarinhelp.com/dot-net-standard-pcl-xamarin-forms/

[2017-03-07 15:44] GerryOnGithub commented on #107
In my case I was trying to install the SVG plugin, which seems to have an incompatibility with one or more of the 'win' targets (maybe win8, not sure).

Removed all nuget dependencies, then removed the win targets (we are only supporting android/ios) and then restored the dependencies. That was a solution found on stack overflow, worked for me, bit of a pain in the ass.

[2017-03-09 22:45] johnmangold commented on #119
I had this same issue.  Initially i was getting the width and height must be greater than 0 error.  Then i added those tags and it was resolved.  Then it wasn't rendering.  For me,  it was because the <path> line itself didn't have fill="color".  I had gotten the svg file from Google's material icon site and they were specifying the fill in the svg tag so svg fill="#000000".  i moved the fill into

[2017-03-10 20:22] SergioMSCosta commented on #91
Mine:

Could not install package 'Xam.Plugins.Forms.Svg 1.0.0.27'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2017-03-11 07:06] liukaichi opened #128 "Readme reference path not very clear"
I took forever trying to get the SvgImageRenderer in Droid and iOS sides.

Turns out, it's not very clear in the readme, so I found out the full path (which visual studio didn't find) is:

SVG.Forms.Plugin.iOS.SvgImageRenderer.Init();
SVG.Forms.Plugin.Droid.SvgImageRenderer.Init();

[2017-03-12 18:06] kgbuddhima opened #129 "Cannot install in WindowsPhoneApp 8.1"
I tried to install this package in all projects my solution including windows phone project. but I got below error.  So can you please tell me what can I do for it ?

Could not install package 'Xam.Plugins.Forms.RoundedBoxView 1.0.0.7'. You are trying to install this package into a project that targets 'WindowsPhoneApp,Version=v8.1', but the package does not contain any assembly references or cont

[2017-03-15 20:45] rmarskell commented on #107
I also experienced this issue.

[2017-03-17 14:23] riandesign commented on #129
@kgbuddhima it is available only for iOS.

[2017-03-17 17:07] riandesign opened #130 "KeyboardOverlap - Do not hide keyboard on button pressed"
In my page, I have a ListView in the whole page and an Entry and Button at the bottom, like WhatsApp and Facebook Messenger.

The thing is, when user taps on Entry, keyboard appears, and when user taps the button, it hides.
But, I don't want it to hide, because user can type another message and if the keyboard hides, it's a little bit annoy.

How can I avoid the keyboard hides when user taps butto

[2017-03-17 18:50] kikolopes90 commented on #118
KeyboardOverlap for Xamarin.Forms not work!

It's the same problem =/

[2017-03-19 18:36] riandesign commented on #94
The **Build Action** of the file you try to load should be **Embedded Resource**.

[2017-03-20 00:36] riandesign commented on #129
You have to change the profile of your PCL project to **PCL 4.5 - Profile49**.
In few words, just right click on you PCL project and go to **properties**, than, change the Targets. You only need to uncheck **Windows Phone 8.1**.

To do that, you may need to uninstall all nugets of you PCL. Thus, uninstall them, change the targets and reinstall them.

[2017-03-21 16:16] ndastur commented on #120
I put a label inside and it doesn't show which is kinda odd as it is supposed to be a containing view

[2017-03-22 14:55] jeremymelchor commented on #118
I had the same issue, I removed the Windows Phone 8.1 target and the installation succeded.
I'm using .Net 4.5 with Xamarin Forms v2.3.3.193

[2017-03-23 04:28] LeoJHarris commented on #118
Why not just set this repos to profile259?

[2017-03-23 07:46] phamthanhtong commented on #109
me too! :(

[2017-03-24 04:24] phamthanhtong commented on #109
@MichaelRumpler, @cd155 : I fixed it.
In file Path:

Change this code:
Before:
`var viewRelativeCoordinates = rootView.ConvertPointFromView(view.Frame.Location, view);`
After:
`var viewRelativeCoordinates = rootView.ConvertPointFromView(view.Bounds.Location, view);`
Hope help you!

[2017-03-24 13:13] cd155 commented on #109
@phamthanhtong  I use nuget package, do you know how i suppose change it with nuget package?

[2017-03-24 13:57] LuigiMaestrelli commented on #109
@phamthanhtong

Did you do anything else?
I have to find a way to limit how much the page will shift up, based on distance between the top of the Editor and the top of the page.

[2017-03-24 14:57] L4rS6 commented on #127
Have a look at this:  #109 comment from phamthanhtong

[2017-03-24 15:23] phamthanhtong commented on #109
@cd155
I don't use nugget package. Instead of installing it, I only need to add 2 files to my xamarin.iOS project and easy to customize it:

@LuigiMaestrelli
No, Only changed it. You should pull this project and try to test it with sample project.

[2017-03-29 14:36] kyurkchyan commented on #85
Same issue

[2017-04-26 09:08] VisionFlare commented on #107
How to resolve:

1. Close VisualStudio
2. Open your PCL .csproj-File in a texteditor (notepad, sublime...)
3. Search for the line:  `<TargetFrameworkProfile>Profile259</TargetFrameworkProfile>`
4. Change the **Profile259** to **Profile78**
5. Open VisualStudio
6. Install NuGet-Package
7. Close VisualStudio
8. Revert your .csproj changes back to **Profile259**
9. Open VisualStudio
10. Beginn using

[2017-04-26 09:45] VisionFlare commented on #82
@zippo227
I tried your code but i get an unhandled exception if i set Content = image during the rendering phase.

[2017-04-26 13:05] zippo227 commented on #82
I haven't seen that issue. Perhaps you could try the code below to ensure it does not happen during render. @VisionFlare

`Device.BeginInvokeOnMainThread(()=>{ Content= image; });`

[2017-04-26 14:22] JoshuaNovak919 opened #131 "Is this repository dead?"
Just wondering if this repository is dead? Nothing has really been updated in 1-2 years other than some text in a ReadMe file.

[2017-04-27 00:08] justintemplar commented on #93
I think this is important, makes exporting from Illustrator easier.

[2017-04-27 00:09] justintemplar commented on #131
I would like to know too. Other wise I might have to switch.

[2017-04-27 14:34] paulpatarinski commented on #131
Hey Josh. Pretty close to it. At this point I will update to the latest stable forms every now and then, but other then that I have lost passion for maintaining the project.

[2017-04-27 16:24] emiolo opened #132 "Failed to resolve assembly: SVG.Forms.Plugin.Abstractions"
Hello!

I have the error below and tried everything, without success. Would you help me? (VS 2015)

Error: _**Failed to resolve assembly: 'SVG.Forms.Plugin.Abstractions, Version = 0.0.0.0, Culture = neutral, PublicKeyToken = null'**_

Thanks!

[2017-05-05 21:25] ericruelas opened #133 "What documentation or support is there for UWP apps?"
I'm trying to use this plugin to render svgs but i have no way to insert the SvgImageRenderer.Init() method if it keeps throwing an error. The other platforms solved this error by inserting a using statement but not for UWP

[2017-05-10 21:41] damian66 opened #134 "Possibility to change multiple Resource IDs in Xamarin Studio"
Hi, I'm implementing SVG flags in my Xamarin.Forms project and when I import these SVG files they don't contain their resource id by default so my question: is there a way to automatically update their id or use the path to access them? It would be a pain to edit +200 files individually.

[2017-05-23 11:07] TrungNguyen1909 opened #135 "Entry hid by the predictive of the keyboard"
On iOS keyboards, there are the predictive lines that contain 3 words that the system predicted(English). This hid the keyboard.

[2017-05-29 05:33] pallavbohara commented on #83
@EmilAlipiev  Me too getting the same problem tried to remove Windows 8.1 but giving this error.
![image](https://cloud.githubusercontent.com/assets/23195991/26537578/5dcf7072-445e-11e7-8188-fe7ca06bc922.png)

[2017-05-29 19:43] fwh217 opened #136 "Package doesn't work for the framework my project targets"
Tried to install the nuget package and got this error: https://github.com/paulpatarinski/Xamarin.Forms.Plugins/tree/master/KeyboardOverlap. Any ideas how to get around that?

[2017-05-29 19:47] fwh217 commented on #136
Sorry this is the error:

Could not install package 'Xam.Plugins.Forms.KeyboardOverlap 1.0.0.4'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2017-05-30 09:06] TrungNguyen1909 commented on #109
@phamthanhtong, when use your patch, it works really good, but if users change the predictive mode while the keyboard is shown, the predictive bar will hide/make space between the keyboard & the entry.
So, I have fixed that issue and here is the additional the code patched:
**KeyboardOverlapRenderer.cs**
[code]

[2017-06-21 10:44] rapcgutz commented on #136
On your PCL project solution, Right click and open on Text editor and try yo change Profile111 to Profile78.

[2017-06-21 10:48] rapcgutz commented on #118
On your PCL project solution, Right click and open on Text editor and try yo change Profile111 to Profile78.

[2017-06-22 07:03] prakashsatyani opened #138 "Object reference not set to an instance of an object"
Hi,

I was able to add the plugin manually into my Xamarin forms app somehow. However, I am getting "**Object reference not set to an instance of an object**" error in few XAML pages.

I am using Xamarin Forms version 2.3.4.247. I don't understand as to why this error comes. Please help me.

This tool looks very promising to me despite it's not been updated recently.

It would be great if someone

[2017-07-06 06:49] LightVolk commented on #136
@fwh217 , @gutierrezralph: it works for me: i change profile to 111 redbuild solution, then get "mscorlib resolve error", clean solution, make `Update-Package -Reinstall `  and deploy to emulator.
Thank you!

[2017-07-06 07:58] LightVolk commented on #118
[https://github.com/paulpatarinski/Xamarin.Forms.Plugins/issues/107](url)

[2017-07-11 14:06] RaZp29 commented on #82
@zippo227  I can't use this line of code:
`public static readonly Assembly assembly = typeof(this).GetTypeInfo().Assembly;`

Is this the proper way of writing it or did you maybe do a typo?

[2017-07-11 14:40] RaZp29 commented on #53
@paulpatarinski is there going to be any possibility to change the color in further updates?

[2017-07-11 16:22] zippo227 commented on #82
I don't think I had a typo, but it looks like you are right and typeof(this) does not work. Try this instead:

public static readonly Assembly assembly = this.GetType().GetTypeInfo().Assembly;

I have modified my code above to "Reflect" (hehe) this change.

[2017-07-12 06:20] RaZp29 commented on #82
still won't work @zippo227
![skarmavbild 2017-07-12 kl 08 15 25](https://user-images.githubusercontent.com/15859369/28104352-ea4c945a-66da-11e7-9316-cb4ddaae8df4.png)
![skarmavbild 2017-07-12 kl 08 15 48](https://user-images.githubusercontent.com/15859369/28104353-ea595ce4-66da-11e7-8999-d3f30edd57d0.png)
![skarmavbild 2017-07-12 kl 08 16 10](https://user-images.githubusercontent.com/15859369/2810

[2017-07-13 17:21] zippo227 commented on #82
@RaZp29 could it be because your class is static?

[2017-07-13 23:06] ericvoid opened #139 "KeyboardOverlap - ListView scroll issues"
I took the [DataTemplateSelector tutorial](https://blog.xamarin.com/customizing-list-view-cells-xamarin-forms-datatemplateselector/) project and added the KeyboardOverlap plugin.

If I enable the plugin and I focus the Entry, it hides the first entries (can't scroll to them) and it becomes possible to scroll beyond the end of the list view contents. To reproduce:

1. Download, compile, run it on a

[2017-07-13 23:14] ericvoid commented on #130
This has nothing to do with KeyboardOverlap.

But you need to override `UITextField.ShouldEndEditing` method, and you will also need a custom `Renderer` to do that. Take a look at the archive in [this issue](https://github.com/paulpatarinski/Xamarin.Forms.Plugins/issues/139).

[2017-07-19 08:57] robswist opened #140 "RoundedBoxView - Value does not fall within the expected range - Win Phone"
I tried to use [RoundedBoxView](https://github.com/paulpatarinski/Xamarin.Forms.Plugins/tree/master/RoundedBoxView) in my project.
On Android and iOS it works ok, but in my WinPhone (Windows Phone Silverlight 8.1) project it throws exception while loading application.

Exception:
An exception of type 'System.ArgumentException' occurred in System.Windows.ni.dll but was not handled in user code
Addi

[2017-07-20 10:52] fschneider1509 opened #141 "BackgroundColor property is not bindable"
The BackgroundColor property is not bindable. I've seen that only the border color is bindable.

[2017-07-27 13:49] LightVolk opened #142 "How to input my own SVG image into example app?"
I try to create simple SVG-viewer app  to demonstrate Xamarin power. But i do not understand: how to use other images at sample app?

I go to source code and find xaml:

[https://github.com/paulpatarinski/Xamarin.Forms.Plugins/blob/master/SVG/SampleApp/SampleApp/Images/CoolMask.xaml](url)

What this numbers mean? Commands to create image? But at Image project i see png images like CoolGuy.svg.
I t

[2017-07-31 05:39] amalsher opened #143 "This plugin breaks the work of Xamarin Picker"
When I turn this plugin on, if I have a picker in a scroll view and I choose that picker the screen shifts too high and when I press Done in picker, the whole screen would shift too low and the scrolling wouldn't work

[2017-08-02 12:33] manojtailor2k17 opened #144 "Its not adding to portable project .Does it support or not?"

[2017-08-10 18:01] angelSwp opened #145 "Can't install to Xamarin.Forms PCL"
I tried to install but it displays the following message

`Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'Xam.Plugins.Forms.KeyboardOverlap 1.0.0.4'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile78', but the package does not contain any assembly references or content files that are comp

[2017-08-18 07:10] camaya commented on #131
I'd suggest you to add this information to the README file and also ask if someone wants to take over the project.

Cheers!

[2017-11-13 19:44] jurabek opened #147 ".NET Standard support for RoundedBoxView"
Currently, it is not possible to add even to .net standard 1.1 including portable CallBack

[2017-12-23 15:10] mrbelk commented on #144
The instructions explicitly say to only install to the iOS platform project

[2017-12-26 11:19] sculptsoft-devs commented on #145
Please add some solution

[2017-12-27 18:03] Vladis466 commented on #62
Any update on the possibility of this extension?

We use a common set of svg's in our pcl and it is inconvenient to have to use separate pngs for the toolbar.

[2017-12-28 16:12] K232 commented on #145
There is no need to add it to PCL. It's only for iOS!

[2017-12-28 22:48] kosta59 commented on #144
Really? in the Setup it says

Install into your PCL project and Client projects.

[2017-12-29 13:20] mrbelk commented on #144
I was referring to the KeyboardOverlapRenderer. I see now that the issues are for all of the plugins. Sorry.

[2018-01-06 14:52] sajacl opened #149 "Does not work on custom views!"
Heya,
I am having some trouble with using this keyboard overlap when using bottom sheets or SlideMenuView nugget!
This nugget uses ContentView and KeyboardOverlap used it only for pages!
i am attaching some screen shots to get you to understand this issue & maybe someone could help to me solve this,
Thanks in advance!
![simulator screen shot - iphone 8 - 2018-01-06 at 18 22 04](https://user-images

[2018-01-12 09:39] paresh-navadiya opened #150 "how to use in Xamarin.Forms PCL"
Can anyone guide me here?

I know how it can be used in without PCL.

[2018-02-01 15:01] MaxenceMax opened #152 "Could not install package 'Xam.Plugins.Forms.Svg 1.0.0.27'"
I get this error when I'm trying to install nugget package, any solutions ?

`Could not install package 'Xam.Plugins.Forms.Svg 1.0.0.27'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact th

[2018-02-05 06:50] AArayeshi opened #153 "SVG element "clipPath" is not supported"

[2018-02-13 10:29] alexgg94 commented on #133
Same problem here...

[2018-02-22 14:50] dazinator commented on #62
Is this possible yet?

[2018-04-05 13:44] mauricemarkvoort opened #154 "Android: Indicators become boxes after going to next page"
I have an app that has a Walkthrough after a user logs in.

The Walkthrough is created using the `Xamarin.forms.CarouselView` 2.3.0-pre2 package. I want to add some indicators at the bottom to show the user on what page they are. So for example, if there are three pages, there are try circles at the bottom and the first one has a different background than they other ones. After going to the next p

[2018-04-25 15:21] #134 closed, assigned to nobody

[2018-04-26 14:01] flchaux opened #155 "RoundedBoxView.Color is not used on Android"
On the Android implementation the BoxView Color property is not used, the BackgroundColor is used instead. The official Xamarin.Forms documentation talk about the Color property to setup the BoxView color.

Is it volunteer to use BackgroundColor instead of Color ?
A retro-compatible fix could be to test the Color nullity and use BackgroundColor in case of Color null only.

[2018-04-26 14:27] flchaux commented on #155
I made a pull request for this enhancement: #156

[2018-05-09 07:06] mo-kml opened #157 "how to use project with 3 dots between its name"
i have a project called CompanyName.ProjectName.App. i coudnt use this nuget package with this structure. so i created a class library and referenced it into my project and after that it worked
so how can i use this nuget in projects that have multiple part in their names?

[2018-05-09 11:43] mo-kml opened #158 "SVG element "style" is not supported"
i have multiple svg files but some of them raise an error that i cant solve

[2018-05-09 11:54] gaffkins commented on #109
I have this problem when Editor with OnTextChanged has InvalidateMeasure is use in NavigationPage, only NavigationPage.
Here is example [Link](https://youtu.be/Y_PxEGF0t_s)

[2018-07-10 11:39] yashshekhada opened #160 "spacing problem"
hello. currently i faced passing problem can you suggest ,which changes is required [
![screen shot 2018-07-10 at 5 05 46 pm](https://user-images.githubusercontent.com/28475432/42507748-e1476c66-8463-11e8-99ff-95ea783be6b2.png)
](url)

and my code is

`<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"

             xmlns:

[2018-07-13 13:07] ErBhautik opened #161 "KeyBoard overlap button."
I have one Entry box which is in middle of the screen and button is at bottom of the screen, Whenever I tap on entry(Textbox) Keyboard overlap button and I am not able to see the button.

[2018-08-16 07:33] #153 closed, assigned to nobody

[2018-08-17 14:20] plsgard commented on #160
Hi,

I've just encountered the same problem. If you are in the same case as me, this space corresponds to the height of the tabbar.
I got this situation since I keep Tabbar always visible. During the calculation, the plugin does not consider the height of the tabbar.
[code]
I'm working on a solution but I haven't finished yet. You can try this by editing the plugin renderer:
[code]

[2018-09-22 16:58] noelfernandes opened #162 "Screen scrolls down below position after selecting item in Picker."
Hi I'm using the KeyOverlap plugin in my XF .NET Standard project. As mentioned in the documentation, I have deployed the plugin only in the iOS project.

I have a login page consisting of input fields, namely: 'Username', 'Password', a Picker for 'Location' and a Login button. Everything works well when I tap on the Entry's. The screen scrolls up and then back to position when I tap anywhere outs

[2018-10-04 14:18] matteopiccioni commented on #160
I have the same issues, with TabBar
news for a fix?
Thanks

[2018-10-24 13:25] dzmitry-antonenka opened #163 "KeyboardOverlap: System.ObjectDisposedException has been thrown."
The exception message is: `Cannot access a disposed object. Object name: 'KeyboardOverlapRenderer'`

Call stack:
UIKit.UIApplication.UIApplicationMain() in
UIKit.UIApplication.Main(string[] args, System.IntPtr principal, System.IntPtr delegate) in /Library/Frameworks/Xamarin.iOS.framework/Versions/12.0.0.15/src/Xamarin.iOS/UIKit/UIApplication.cs:79
UIKit.UIApplication.Main(string[] args, string pr

[2018-11-01 12:53] ikeremozcan commented on #163
I have the same problem either, especially happens in debug mode a lot

[2018-11-08 15:20] MaxxDelusional commented on #160
This issue seems like a duplicate of #103

[2018-12-03 16:59] vegiwoo commented on #162
Hello! I have a similar problem - I attach a screencast. Did you manage to solve it somehow?
![screeny video 3 dec 2018 at 16 56 14](https://user-images.githubusercontent.com/26301137/49388817-e9a48200-f735-11e8-8f7a-e73f198720d0.gif)

[2018-12-06 07:22] aparnatiwari30 commented on #163
I also have the same problem.
Error Message:
Unhandled Exception:
System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'KeyboardOverlapRenderer'.

[2018-12-11 10:14] omanak commented on #163
Has anyone had any luck with this? I am experiencing the same issue.

[2018-12-12 05:03] cooliopas commented on #163
Same problem here :(

[2018-12-17 10:26] stephanpalmer opened #164 "Android: Crash with ObjectDisposedException when image is replaced very fast"
When an `SvgImage` is removed from the view hierarchy very shortly after being added, the application crashes with an `ObjectDisposedException`. This is an Android-only issue, the exception occurs in the Android renderer. An example call stack is:

[code]

The attached project [SvgCrash.zip](https://github.com/paulpatarinski/Xamarin.Forms.Plugins/files/2685520/SvgCrash.zip) reproduces the error. J

[2018-12-17 11:35] stevekay72 opened #165 "Error when CornerRadius is set"
I have a project that has been dormant for 2+ years that I have been asked to uplift to the latest Xamarin Forms.  Everything is relatively ok except for an exception that gets thrown when I load a page containing a RoundedBoxView:

`Multiple properties with the name ‘RoundedBoxView.Forms.Plugin.Abstractions.RoundedBoxView.CornerRadius’ found
`

When I remove, the CornerRadius property from the co

[2018-12-18 11:43] stephanpalmer commented on #164
Changes in pull request #166 should fix this issue.

[2018-12-19 01:31] Bejasc opened #167 "Android RoundedBoxView rounding value issue when power saving mode is active"
This is a fun one..

I have a RoundedBoxView that is looking to my App.xaml to collect its value from. The value is not programmatically generated, it's simply referenced in a bunch of places and uses the same value of 8.

My RoundedBoxView points to this value, and displays correctly when not in power saving mode. All controls referencing the same value also display correctly in this mode.

If po

[2018-12-20 11:05] stevekay72 commented on #165
It's ok I have discovered what the fault is.
RoundedBoxView inherits from BoxView, and since May 2018, BoxView implements CornerRadius as a property and therefore the definition in RoundedBoxView is conflicting if set.

For the project I am updating, I have simply removed RoundedBoxView and replaced with BoxView as the only properties being used were the CornerRadius and FontFamily which are imple

[2018-12-20 11:05] #165 closed, assigned to nobody

[2018-12-21 23:18] alextorres50 commented on #167
This library is to IOs, not for Android

[2018-12-21 23:31] Bejasc commented on #167
This is a Xamarin.Forms repo, it's not specific to iOS.

[2018-12-27 09:05] mabdollahiasl opened #168 "Keyboard Overlap Shift tha page up"
I have a page with an entry in bottom of it.
but when the entry focus the page shifted up and the content of page hides,
 I want to  make page height smaller, like that happened in android.
what can I do?
thanks

[2019-01-14 09:17] mabdollahiasl commented on #168
any help?

[2019-01-25 15:40] HelenMamalaki opened #169 "KeyboardOverlap work until I start typing"
KeyboardOverlap shift's the entry control as expected when I tap on it.

When I tap on any letter on the keyboard the entry field disappears, and I suddenly get a  huge white space at the top. Dismissing the keyboard does not reveal entry field, its gone!

Testing on iOS 10.3 and I am on Xamarin.iOS 12.2.1.13 with Xamarin.Forms 4.0.0 preview.

[2019-01-31 21:33] icalderond commented on #163
I have same problem: Cannot access a disposed object.
Object name: 'KeyboardOverlapRenderer'.

[2019-02-14 21:00] stivenbr commented on #163
### "Solution" ?

Hello, In my case it happens when I close the session with `masterdetailpage`, to solve it we have to close the menu with `IsPresented` and leave a waiting `time` to perform the navigation.

Example with PRISM MVVM and MessagingCenter.

### MasterPageViewModel.cs (Method)
[code]

### MasterPage.xaml.cs
[code]

Sorry my English (Google translator).

[2019-04-09 17:21] zanesc commented on #162
You can fix this by modifying ShiftPageDown in the KeyboardOverlapRenderer like this:

[code]
The calculated newY coordinate seems to be what caused this.

[2019-04-09 17:48] zanesc commented on #162
Just found a better alternative. The newY issue seems to be as a result of a bug with the _isKeyboardShown bool property. If you remove this bool you can leave the newY coordinate as it should be. This also fixes the issue where the keyboard may hide the entry on the first attempt.

Here is a commit that details the steps: https://github.com/paulpatarinski/Xamarin.Forms.Plugins/pull/148/commits/d5

[2019-04-12 12:36] ghost commented on #163
I confirmed that stivenbr's solution worked for me. I'm build an app using the Prism framework. So my changes went into one file, the view model class.

**MasterDetailPageViewModel.cs**

[code]

[2019-04-16 12:16] salmankaludi opened #170 "Disable KeyboardOverlapRenderer"
Is there any way to disable KeyboardOverlapRenderer? I want to disable it at a particular point and enable it at another point. @paulpatarinski any help on this would be much appreciated.

[2019-04-24 09:49] viveklpu2011 opened #171 "Not working with ipad"
This Package is working fine in mobile device but when i tried to run application in ipad then its not working.

Please suggest

[2019-05-09 02:19] Drew-E commented on #171
My app is also experiencing the same.  In my case, it is actually causing the app to crash.

I fired up the iPad 5th iOS 12.2 simulator, and got the following:

2019-05-08 21:15:47.565755-0500 [...].Mobile.iOS[31494:6873166] Unhandled managed exception:
Cannot access a disposed object.
Object name: 'KeyboardOverlapRenderer'. (System.ObjectDisposedException)
  at Foundation.NSObject.get_SuperHandle

[2019-05-21 19:20] mateuswolkmer commented on #62
Update on the issue? It should be an enhancement, why is it closed?

[2019-06-05 11:36] nanjibiztech commented on #109
I have similar issue like @gaffkins facing. Please suggest.

[2019-06-06 02:08] shalomthegreat commented on #162
Hey guys. I had no idea how to implement Zanesc's solution, so I was thinking about just disabling the whole plugin when I noticed there was one page in my app that didn't have the problem. All I had to do was narrow down why one page worked, and the other didn't.

So a few hours of beating my head against the wall and I found the offending bit. It makes NO SENSE to me, so I created an account to

[2019-07-16 15:19] ChrisLang commented on #53
any updates on this?

[2019-11-12 13:21] AbdellahMobiArchitects opened #172 "Is KeyboardOverlap still maintained?"

[2019-11-15 16:03] #172 closed, assigned to nobody

[2019-12-05 07:50] #135 closed, assigned to nobody

[2020-01-17 12:12] #94 closed

[2020-01-17 12:13] #83 closed

[2020-01-28 03:16] matheuscschenfeld opened #173 "[iOS] A White bar is showing up using KeyboardOverlap"
I am using Xam.Plugins.Forms.KeyboardOverlap to prevent the keyboard from overlapping my entry text. For some reason a white bar is appearing just above the keyboard, as shown in the images below:
![Simulator Screen Shot - iPhone 6 - 2020-01-27 at 23 56 43](https://user-images.githubusercontent.com/44175104/73232709-e3a40880-4162-11ea-8615-0ca9c41a9a17.png)
_Image 1 - With predictive_

![Simulator

[2020-01-28 03:18] matheuscschenfeld commented on #173
@paulpatarinski

[2020-01-28 03:43] matheuscschenfeld commented on #160
@plsgard Did you find a solution for this issue? I am facing the same problem

[2020-01-28 03:44] matheuscschenfeld commented on #103
Does anybody find a solution for this issue?

[2020-02-11 10:37] plsgard commented on #160
I didn't work on this project since a year, but here it is my render implementation. I took the base render of the plugin and add my own CalculateShiftByAmount

[code]

Hope this will help. Sorry for the delay.

[2020-02-11 15:56] matheuscschenfeld commented on #160
Thank you so much @plsgard. I will study your code and implement in my solution. I will share the result here with you.
Thanks again for your attention

[2020-02-28 12:43] RafaelVieira2323 commented on #103
I have the same problem. No one found a solution?

[2020-04-11 03:29] LittleCornerDev commented on #163
For me this issue popped up when I re-ordered the LoadApplication() call in AppDelegate.cs.  Reverted and made sure to call LoadApplication() before initializing this plugin, and all was fine.

[2020-09-24 15:40] GOSTWorker commented on #162
I guess it is because after selecting a new value, the UI is completely reloaded. If ShiftPageDown is then executed, the page moves down. I solved the problem for me in the following way:

		private void OnKeyboardHide(NSNotification notification)
		{
			if (!IsViewLoaded)
				return;

			_isKeyboardShown = false;
			var keyboardFrame = UIKeyboard.FrameEndFromNotification(notification);

			if (_p

[2021-09-30 14:52] MarcK95 commented on #170
@salmankaludi Did you ever find a solution for this? I also need this plugin for a specific page but it messes up certain other ones.

[2022-02-14 01:28] pulmuone opened #174 "It doesn't work in the shell."
Works fine in legacy Xamarin.Forms, but not in Shell. (For iOS)

[2022-05-16 19:29] ahoke-cr commented on #170
@salmankaludi @MarcK95 a better approach would be to create a custom effect. I adapted some [custom renderer code](https://github.com/rdelrosario/ChatUIXForms/blob/master/ChatUIXForms.iOS/Renderers/ChatEntryRenderer.cs) from [xamboy](https://github.com/rdelrosario/ChatUIXForms) to work as an effect so I can selectively apply the keyboard overlap plugin behavior by page and use case.

[2022-05-16 19:30] ahoke-cr commented on #168
If you are using this plugin and you have page content inside a scroll view it will add too much extra space and cause your page contents to go off the screen. I do not recommend using this plugin if you have pages that have contents wrapped in a scroll view.

[2022-06-01 18:04] imsam67 commented on #174
I confirm that this does NOT work in Xamarin.Forms using Shell

[2022-06-01 22:09] ToolmakerSteve commented on #174
@imsam67 - NOT work only when using Shell (AppShell), right?

[2022-06-01 22:16] imsam67 commented on #174
@ToolmakerSteve  Correct. Not working only when using Shell in Xamarin Forms.

[2022-06-01 22:17] imsam67 commented on #174
@ToolmakerSteve Corrected my original response too.

[2022-10-27 20:39] freezersharp commented on #173
The same issue but in my case, the white bar is on the top of the screen.
I use Xamarin Forms to develop my apps, I guess that newer versions of XF do the job of KeyboardOverlap.

Plugin uninstalled!!!